<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Spieler ({{ players?.length }})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="export()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spieler ({{ players?.length }})</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex">
    <ion-searchbar (ionInput)="search($event)" animated placeholder="Spieler suchen..."></ion-searchbar>
    <ion-button id="filter-trigger" fill="none">
      <ion-icon size="medium" name="options"></ion-icon>
    </ion-button>
    <ion-popover trigger="filter-trigger" triggerAction="click">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item lines="none">
              <ion-icon slot="start" name="filter" size="small"></ion-icon>
              <ion-select slot="end" (ionChange)="onFilterChanged()" interface="popover" [(ngModel)]="filterOpt">
                <ion-select-option value="all">Alle Anzeigen</ion-select-option>
                <ion-select-option value="criticals">Problemfälle</ion-select-option>
                <ion-select-option value="leaders">Stimmführer</ion-select-option>
                <ion-select-option *ngIf="isVoS" value="new">Neue Spieler</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-icon slot="start" name="eye" size="small"></ion-icon>
              <ion-select multiple="true" slot="end" (ionChange)="onViewChanged()" interface="popover" [(ngModel)]="viewOpts">
                <ion-select-option value="instrument">Instrument</ion-select-option>
                <ion-select-option value="birthday">Geburtsdatum</ion-select-option>
                <ion-select-option value="exercises">Sonstige Dienste</ion-select-option>
                <!-- <ion-select-option *ngIf="isVoS" value="teacher">Lehrer</ion-select-option>
                <ion-select-option *ngIf="isVoS" value="otherOrchestra">Anderes Orchester</ion-select-option> -->
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
  <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search($event)" animated placeholder="Spieler suchen..."></ion-searchbar> -->
  <ion-list *ngIf="searchTerm === '' && filterOpt === 'all'">
    <ion-item-divider sticky="true">
      <ion-label>Dirigenten ({{conductors.length}})</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let con of conductors">
      <ion-label>
        <h2>{{ con.firstName }} {{ con.lastName }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-sliding #slider *ngFor="let player of playersFiltered">
      <ion-item-divider sticky="true" *ngIf="player.firstOfInstrument">
        <ion-label>{{ player.instrumentName }} ({{ player.instrumentLength }})</ion-label>
      </ion-item-divider>
      <ion-item (click)="openModal(player)">
        <ion-label>
          <h2>{{ player.firstName }} {{ player.lastName }}</h2>
          <h3 *ngIf="player.text">{{ player.text }}</h3>
          <h3 *ngIf="!player.text">{{ player.instrumentName }}</h3>
        </ion-label>
        <ion-badge color="secondary" *ngIf="player.isLeader" slot="end">Stimmführer</ion-badge>
        <ion-badge color="danger" *ngIf="!player.paused && player.isNew && !player.isLeader" slot="end">Neu</ion-badge>
        <ion-badge color="danger" *ngIf="!player.paused && player.isCritical" slot="end">Problemfall</ion-badge>
        <ion-badge color="warning" *ngIf="player.paused" slot="end">Pausiert</ion-badge>
        <ion-badge color="warning" *ngIf="!player.paused && player.notes" slot="end">
          <ion-icon name="pencil"></ion-icon>
        </ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option *ngIf="!player.paused" [style]="player.firstOfInstrument ? 'margin-top: 1.7rem;' : ''" (click)="pausePlayer(player, slider)" color="primary">
          <ion-icon name="pause"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="player.paused" [style]="player.firstOfInstrument ? 'margin-top: 1.7rem;' : ''" (click)="unpausePlayer(player, slider)" color="primary">
          <ion-icon name="play"></ion-icon>
        </ion-item-option>
        <ion-item-option [style]="player.firstOfInstrument ? 'margin-top: 1.7rem;' : ''" (click)="removePlayer(player, slider)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
