<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Spieler ({{ playersFiltered?.length }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spieler ({{ playersFiltered?.length }})</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search($event)" animated placeholder="Spieler suchen...">
    </ion-searchbar>
    <ion-button id="filter-trigger" fill="none">
      <ion-icon [color]="filterOpt === 'all' ? '' : 'primary'" size="medium" name="options"></ion-icon>
    </ion-button>
    <ion-popover trigger="filter-trigger" triggerAction="click">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item lines="none">
              <ion-icon slot="start" name="funnel" size="small"></ion-icon>
              <ion-select slot="end" (ionChange)="onFilterChanged()" interface="popover" [(ngModel)]="filterOpt">
                <ion-select-option value="all">Alle Anzeigen</ion-select-option>
                <ion-select-option value="active">Aktive Spieler</ion-select-option>
                <ion-select-option value="criticals">Problemfälle</ion-select-option>
                <ion-select-option value="leaders">Stimmführer</ion-select-option>
                <ion-select-option *ngIf="withSignout" value="withoutAccount">Ohne Account</ion-select-option>
                <ion-select-option *ngIf="isVoS" value="new">Neue Spieler</ion-select-option>
                <ion-select-option *ngIf="isVoS" value="withoutTeacher">Ohne Lehrer</ion-select-option>
                <ion-select-option *ngIf="isVoS" value="withoutTest">Testergebnis fehlt</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-icon slot="start" name="filter" size="small"></ion-icon>
              <ion-select slot="end" (ionChange)="onSortChanged()" interface="popover" [(ngModel)]="sortOpt">
                <ion-select-option value="instrument">Instrument</ion-select-option>
                <ion-select-option value="vorname">Vorname</ion-select-option>
                <ion-select-option value="nachname">Nachname</ion-select-option>
                <ion-select-option value="birthdayAsc">Geburtsdatum ↑</ion-select-option>
                <ion-select-option value="birthdayDesc">Geburtsdatum ↓</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-icon slot="start" name="eye" size="small"></ion-icon>
              <ion-select multiple="true" slot="end" (ionChange)="onViewChanged()" interface="popover"
                [(ngModel)]="viewOpts">
                <ion-select-option value="instrument">Instrument</ion-select-option>
                <ion-select-option value="birthday">Geburtsdatum</ion-select-option>
                <ion-select-option value="exercises">Sonstige Dienste</ion-select-option>
                <ion-select-option value="leader">Stimmführer</ion-select-option>
                <ion-select-option value="critical">Problemfälle</ion-select-option>
                <ion-select-option *ngIf="isVoS" value="new">Neu</ion-select-option>
                <ion-select-option value="paused">Pausiert</ion-select-option>
                <ion-select-option value="notes">Hat Notizen</ion-select-option>
                <ion-select-option value="img">Profilbild</ion-select-option>
                <!-- <ion-select-option *ngIf="isVoS" value="teacher">Lehrer</ion-select-option>
                <ion-select-option *ngIf="isVoS" value="otherOrchestra">Anderes Orchester</ion-select-option> -->
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
  <ion-list *ngIf="searchTerm === '' && (filterOpt === 'all' || filterOpt === 'active') && sortOpt === 'instrument'">
    <ion-item-divider sticky="true">
      <ion-label>Dirigenten ({{conductors.length}})</ion-label>
    </ion-item-divider>
    <ion-item-sliding #sliderDiri *ngFor="let con of conductors">
      <ion-item button detail="false" (click)="openModal(con, true)">
        <ion-avatar *ngIf="showImg" slot="start">
          <img [src]="con.img" />
        </ion-avatar>
        <ion-label>
          <h2>{{ con.firstName }} {{ con.lastName }}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="remove(con, sliderDiri, true)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="marginBottom">
    <ng-container *ngFor="let player of playersFiltered">
      <ion-item-divider sticky="true" *ngIf="player.firstOfInstrument && sortOpt === 'instrument'">
        <ion-label>{{ player.instrumentName }} ({{ player.instrumentLength }})</ion-label>
      </ion-item-divider>
      <ion-item-sliding #slider>
        <ion-item button detail="false" (click)="openModal(player)">
          <ion-avatar *ngIf="showImg" slot="start">
            <img [src]="player.img" />
          </ion-avatar>
          <ion-label>
            <h2>{{ player.firstName }} {{ player.lastName }}</h2>
            <h3 *ngIf="player.text">{{ player.text }}</h3>
            <h3 *ngIf="!player.text">{{ player.instrumentName }}</h3>
          </ion-label>
          <ion-badge color="secondary"
            *ngIf="((showPaused && !player.paused) || !showPaused) && showLeader && player.isLeader" slot="end">
            Stimmführer</ion-badge>
          <ion-badge color="danger"
            *ngIf="((showPaused && !player.paused) || !showPaused) && showNew && player.isNew && !player.isLeader"
            slot="end">Neu</ion-badge>
          <ion-badge color="danger"
            *ngIf="((showPaused && !player.paused) || !showPaused) && showCritical && player.isCritical" slot="end">
            Problemfall</ion-badge>
          <ion-badge color="warning" *ngIf="showPaused && player.paused" slot="end">Pausiert</ion-badge>
          <ion-badge color="warning"
            *ngIf="((showPaused && !player.paused) || !showPaused) && showNotes && player.notes" slot="end">
            <ion-icon name="pencil"></ion-icon>
          </ion-badge>
        </ion-item>
        <ion-item-options>
          <ion-item-option *ngIf="!player.paused" (click)="pausePlayer(player, slider)" color="primary">
            <ion-icon name="pause"></ion-icon>
          </ion-item-option>
          <ion-item-option *ngIf="player.paused" (click)="unpausePlayer(player, slider)" color="primary">
            <ion-icon name="play"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="remove(player, slider)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateSheet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal backdropDismiss="false" [isOpen]="isArchiveModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ playerToArchive?.firstName }} {{ playerToArchive?.lastName }} Archivieren</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissArchiveModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Austrittsdatum</ion-label>
          <ion-input type="date" [(ngModel)]="archiveDate"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Notiz</ion-label>
          <ion-textarea [(ngModel)]="archiveNote"></ion-textarea>
        </ion-item>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="archivePlayer()">
            <ion-icon name="archive-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
