<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>{{ db.tenant()?.longName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ db.tenant()?.longName }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search($event)" placeholder="Person suchen...">
    </ion-searchbar>
    <ion-button id="filter-trigger" fill="none">
      <ion-icon slot="icon-only" [color]="filterOpt === 'all' ? '' : 'primary'" size="medium" name="options"></ion-icon>
    </ion-button>
    <ion-popover trigger="filter-trigger" triggerAction="click">
      <ng-template>
        <ion-list>
          <ion-item lines="none">
            <ion-icon slot="start" name="funnel" size="small"></ion-icon>
            <ion-select slot="end" (ionFocus)="onFilterFocused()" (ionDismiss)="onFilterDismissed()" (ionChange)="onFilterChanged()" interface="popover" [(ngModel)]="filterOpt">
              <ion-select-option value="all">Alle Anzeigen</ion-select-option>
              <ion-select-option value="active">Aktive Personen</ion-select-option>
              <ion-select-option value="criticals">Problemfälle</ion-select-option>
              @if (!isGeneral) {
                <ion-select-option value="leaders">Stimmführer</ion-select-option>
              }
              <ion-select-option value="withoutAccount">Ohne Account</ion-select-option>
              @if (isVoS) {
                <ion-select-option value="examinee">Prüflinge</ion-select-option>
              }
              @if (isVoS) {
                <ion-select-option value="new">Neue Spieler</ion-select-option>
              }
              @if (isVoS) {
                <ion-select-option value="withoutTeacher">Ohne Lehrer</ion-select-option>
              }
              @if (isVoS) {
                <ion-select-option value="withoutTest">Testergebnis fehlt</ion-select-option>
              }
              @if (linkedTenants.length) {
                <ion-select-option value="otherInstance">Mitglied anderer
                Instanz</ion-select-option>
              }
              @if (db.tenant().additional_fields?.length) {
                @for (field of db.tenant().additional_fields; track field.id) {
                  @if (field.type === "boolean" || field.type === "select") {
                    <ion-select-option [value]="field.id">{{ field.name }}</ion-select-option>
                  } @else if (field.type === "bfecg_church") {
                    <ion-select-option [value]="field.id">{{ field.name }}</ion-select-option>
                  }
                }
              }
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-icon slot="start" name="filter" size="small"></ion-icon>
            <ion-select slot="end" (ionChange)="onSortChanged()" interface="popover" [(ngModel)]="sortOpt">
              <ion-select-option value="instrument">Gruppe</ion-select-option>
              <ion-select-option value="vorname">Vorname</ion-select-option>
              <ion-select-option value="nachname">Nachname</ion-select-option>
              <ion-select-option value="attAsc">Anwesenheit ↑</ion-select-option>
              <ion-select-option value="attDesc">Anwesenheit ↓</ion-select-option>
              <ion-select-option value="birthdayAsc">Geburtsdatum ↑</ion-select-option>
              <ion-select-option value="birthdayDesc">Geburtsdatum ↓</ion-select-option>
              <ion-select-option value="joinedAsc">Beitrittsdatum ↑</ion-select-option>
              <ion-select-option value="joinedDesc">Beitrittsdatum ↓</ion-select-option>
              <ion-select-option value="nextBirthday">Nächster Geburtstag</ion-select-option>
              @if (isVoS) {
                <ion-select-option value="test">Testergebnis</ion-select-option>
              }
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-icon slot="start" name="eye" size="small"></ion-icon>
            <ion-select multiple="true" slot="end" (ionChange)="onViewChanged()" interface="popover"
              [(ngModel)]="viewOpts">
              <ion-select-option value="instrument">Gruppe</ion-select-option>
              <ion-select-option value="attendance">Anwesenheit</ion-select-option>
              <ion-select-option value="birthday">Geburtsdatum</ion-select-option>
              @if (isChoir) {
                <ion-select-option value="instruments">Instrumente</ion-select-option>
              }
              @if (isVoS) {
                <ion-select-option value="test">Testergebnis</ion-select-option>
              }
              <ion-select-option value="exercises">Sonstige Dienste</ion-select-option>
              @if (!isGeneral) {
                <ion-select-option value="leader">Stimmführer</ion-select-option>
              }
              <ion-select-option value="critical">Problemfälle</ion-select-option>
              @if (isVoS) {
                <ion-select-option value="new">Neu</ion-select-option>
              }
              <ion-select-option value="paused">Pausiert</ion-select-option>
              <ion-select-option value="notes">Hat Notizen</ion-select-option>
              <ion-select-option value="img">Passbild</ion-select-option>
              @if (db.tenant().maintainTeachers) {
                <ion-select-option value="teachers">Lehrer</ion-select-option>
              }
              @if (isVoS) {
                <ion-select-option value="examinee">Prüfling</ion-select-option>
              }
              @if (db.tenant().additional_fields?.length) {
                @for (field of db.tenant().additional_fields; track field.id) {
                  @if (field.type === "boolean") {
                    <ion-select-option [value]="field.id">{{ field.name }}</ion-select-option>
                  }
                }
              }
            </ion-select>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </div>

  @if (players.length) {
    <ion-list style="padding-top: 0;" class="marginBottom">
      <ion-list-header>
        <ion-label>Personen ({{ playersFiltered?.length }})</ion-label>
      </ion-list-header>
      @for (player of playersFiltered; track userById($index, player)) {
        @if (player.firstOfInstrument && sortOpt === 'instrument') {
          <ion-item-divider color="primary">
            <ion-label>{{ player.groupName }} ({{ player.instrumentLength }})</ion-label>
          </ion-item-divider>
        }
        <ion-item-sliding #slider>
          <ion-item button detail="false" (click)="openModal(player)">
            @if (showImg) {
              <ion-avatar slot="start">
                <img [src]="player.img" />
              </ion-avatar>
            }
            <ion-label>
              <h2>{{ player.firstName }} {{ player.lastName }}</h2>
              @if (player.text) {
                <h3>{{ player.text }}</h3>
              }
              @if (showInstruments) {
                @if (!player.text) {
                  <h3>{{ player.groupName }}</h3>
                }
              }
              @if (player.instrument !== mainGroup) {
                @if (showTeachers && player.teacher) {
                  <h3>Lehrer: {{ getTeacherName(player.teacher) }}</h3>
                } @else if (showTeachers && !player.teacher) {
                  <h3>Kein Lehrer</h3>
                }
              }
              @if (this.filterOpt === 'otherInstance') {
                <h3>{{ tenantName }}</h3>
              }
            </ion-label>
            @if (((showPaused && !player.paused) || !showPaused) && showLeader && player.isLeader) {
              <ion-badge color="secondary"
                slot="end">
              Stimmführer</ion-badge>
            }
            @if (((showPaused && !player.paused) || !showPaused) && showNew && player.isNew && !player.isLeader) {
              <ion-badge color="danger"
              slot="end">Neu</ion-badge>
            }
            @if (((showPaused && !player.paused) || !showPaused) && showCritical && player.isCritical) {
              <ion-badge color="danger"
                slot="end">
              Problemfall</ion-badge>
            }
            @if (showPaused && player.paused) {
              <ion-badge color="warning" slot="end">Pausiert</ion-badge>
            }
            @if (((showPaused && !player.paused) || !showPaused) && showNotes && player.notes) {
              <ion-badge color="warning"
                slot="end">
                <ion-icon name="pencil"></ion-icon>
              </ion-badge>
            }
            @if (showExaminee && player.examinee) {
              <ion-badge color="dark" slot="end">Prüfling</ion-badge>
            }
            @if (db.tenant().additional_fields?.length) {
              @for (field of db.tenant().additional_fields; track field.id) {
                @if (viewOpts.includes(field.id)) {
                  @if (player.additional_fields[field.id]) {
                    <ion-badge color="dark" slot="end">{{ field.name }}</ion-badge>
                  }
                }
              }
            }
            @if (showAttendance) {
              <ion-badge [color]="player.percentage >= 75 ? 'success' : player.percentage >= 50 ? 'warning' : 'danger'"
              slot="end">{{ player.percentage }}%</ion-badge>
            }
          </ion-item>
          @if (isAdmin) {
            <ion-item-options (ionSwipe)="player.paused ? unpausePlayer(player, slider) : pausePlayer(player, slider)"
              >
              <ion-item-option (click)="remove(player, slider)" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-item-option>
              @if (!player.paused) {
                <ion-item-option expandable (click)="pausePlayer(player, slider)" color="warning">
                  <ion-icon name="pause"></ion-icon>
                </ion-item-option>
              }
              @if (player.paused) {
                <ion-item-option expandable (click)="unpausePlayer(player, slider)" color="success">
                  <ion-icon name="play"></ion-icon>
                </ion-item-option>
              }
            </ion-item-options>
          }
        </ion-item-sliding>
      }
    </ion-list>
  } @else if (loaded && !players?.length && !playersFiltered?.length) {
    <div class="noDataContainer">
      <div class="noPersons">
        <ion-icon name="people-outline" size="large"></ion-icon>
        <ion-label>Bisher wurden noch keine Personen angelegt</ion-label>
        <ion-button size="small" (click)="openModal()">Person hinzufügen</ion-button>
      </div>
    </div>
  } @else {
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
      </ion-list-header>
      @for (n of [1,2,3,4,5,6,7,8,9,10]; track n) {
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }
  @if (isAdmin) {
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
  <ion-modal backdropDismiss="false" [isOpen]="isArchiveModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ playerToArchive?.firstName }} {{ playerToArchive?.lastName }} Archivieren</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissArchiveModal()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Austrittsdatum</ion-label>
          <ion-input type="date" [(ngModel)]="archiveDate"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Notiz</ion-label>
          <ion-textarea [(ngModel)]="archiveNote"></ion-textarea>
        </ion-item>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="archivePlayer()">
            <ion-icon name="archive-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]="0.5" backdropDismiss="true" [isOpen]="isPauseModalOpen" (ionModalDidDismiss)="dismissPauseModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ playerToPause?.firstName }} {{ playerToPause?.lastName }} Pausieren</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissPauseModal()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Grund *</ion-label>
          <ion-textarea [(ngModel)]="pauseReason" placeholder="Bitte gib einen Grund an..."></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Pausiert bis (optional)</ion-label>
          <ion-input helperText="Wenn ein Enddatum angegeben wird, wird die Person automatisch reaktiviert." readonly [(ngModel)]="pauseUntilDisplay" id="pause-date-modal-list" placeholder="Datum wählen..."></ion-input>
          <ion-modal class="dateModal" trigger="pause-date-modal-list" #pauseDateModal>
            <ng-template>
              <ion-datetime show-default-buttons="true" done-text="Fertig" cancel-text="Abbrechen" show-adjacent-days="true" locale="de-DE" [firstDayOfWeek]="1" [min]="minPauseDate" [(ngModel)]="pauseUntil"
              (ionChange)="onPauseDateChange(pauseUntil, pauseDateModal)" presentation="date"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-button expand="block" class="ion-margin-top" (click)="confirmPause()" [disabled]="!pauseReason">
          <ion-icon slot="start" name="pause-outline"></ion-icon>
          Pausieren
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
