ion-searchbar {
    padding-right: 0;
}

.ios #filter-trigger {
    margin-right: 1rem;
}

ion-select::part(text) {
    width: 9rem;
}

ion-popover {
    --width: 16rem;
}

ion-modal.dateModal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal.dateModal ion-datetime {
  height: 382px;
}
