<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Allgemein</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Gruppenname</ion-label>
        <ion-input [(ngModel)]="longName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kurzname</ion-label>
        <ion-input helperText="Wird vor allem als Dateiname bei Exports verwendet" [(ngModel)]="shortName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2 *ngIf="!db.organisation()">Organisation</h2>
          <h2 *ngIf="db.organisation()">Organisation</h2>
          <h3 *ngIf="isSuperAdmin && !db.organisation()">Weise die Instanz einer bestehenden Organisation zu oder
            erstelle eine. Damit können
            Personen
            innerhalb der Organisation verknüpft werden</h3>
          <h3 *ngIf="isSuperAdmin && db.organisation()">Die Instanz ist der Organisation
            "{{ db.organisation().name }}" zugewiesen. Personen können innerhalb der Organisation verknüpft werden.</h3>
          <h3 *ngIf="!isSuperAdmin">Du hast keine Berechtigung, um Organisationen zu verwalten. Dies können nur
            Administratoren.</h3>
        </ion-label>
        <ion-button fill="clear" *ngIf="isSuperAdmin && db.organisation()" (click)="deleteOrganisation()"
          color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" *ngIf="isSuperAdmin && !db.organisation()" (click)="openOrganisationAlert()"
          color="primary">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item-group>

    <ion-list-header><ion-label>Anwesenheiten</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Saisonbeginn</ion-label>
        <ion-input helperText="Anwesenheiten werden erst ab diesem Datum bei den Personen berücksichtigt"
          [(ngModel)]="attDateString" id="date-modal"></ion-input>
        <ion-modal class="attDateModal" #attModal trigger="date-modal">
          <ng-template>
            <ion-content>
              <ion-datetime show-adjacent-days="true" locale="de-DE" [firstDayOfWeek]="1" [max]="max"
                [(ngModel)]="attDate" (ionChange)="onAttDateChange(attDatePicker.value, attModal)" presentation="date"
                #attDatePicker></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item button [routerLink]="['/tabs/settings/general/types']">
        <ion-label>Anwesenheits-Typen</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-list-header><ion-label>Sonstiges</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-toggle
          helperText="Aktivieren, um Werke als öffentlichen link zu teilen. Jeder mit dem Link kann die Werke ansehen aber nicht bearbeiten."
          [(ngModel)]="songSharingEnabled">Werke öffentlich teilen</ion-toggle>
      </ion-item>
      <ion-item *ngIf="db.tenant().song_sharing_id">
        <ion-input readonly value="{{ getSongSharingLink() }}"></ion-input>
        <ion-button slot="end" fill="clear" size="small" (click)="copySongSharingLink()">
          <ion-icon name="copy-outline"></ion-icon>Link kopieren
        </ion-button>
      </ion-item>
      <ion-item button [routerLink]="['/tabs/settings/general/shifts']">
        <ion-label>Schichtpläne</ion-label>
      </ion-item>
      <ion-item *ngIf="isOrchestra">
        <ion-toggle helperText="Aktivieren, um die Lehrer der Spieler verwalten zu können."
          [(ngModel)]="maintainTeachers">Lehrer
          pflegen</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle
          helperText="Aktivieren, um Eltern die Möglichkeit zu geben, Einsicht in die Anwesenheiten ihrer Kinder zu geben und Abwesenheiten pflegen zu können."
          [(ngModel)]="parentsEnabled">Eltern-Funktion</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle
          helperText="Aktivieren, um beim Anlegen der Anwesenheiten die Ferien und Feiertage hervorzuheben. (nur verfügbar für Deutschland)"
          [(ngModel)]="showHolidays">Ferien/Feiertage anzeigen</ion-toggle>
      </ion-item>
      @if (showHolidays) {
      <ion-item>
        <ion-label position="stacked">Bundesland für Ferien/Feiertage</ion-label>
        <ion-select [(ngModel)]="region">
          <ion-select-option *ngFor="let state of holidayStates" [value]="state.code">{{ state.name
            }}</ion-select-option>
        </ion-select>
      </ion-item>
      }
    </ion-item-group>

    <ion-list-header>
      <ion-label>Zusätzliche Felder für Personen</ion-label>
      <ion-button id="addExtraFieldBtn" fill="clear" size="small">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-modal trigger="addExtraFieldBtn" #addCustomFieldModal initialBreakpoint="1" [breakpoints]="[0, 1]">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Neues Feld hinzufügen</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content color="light">
            <ion-list [inset]="true">
              <ion-item-group>
                <ion-item>
                  <ion-input labelPlacement="stacked" label="Name" [(ngModel)]="newExtraField.name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-select (ionChange)="setDefaultValue()" label="Typ" [(ngModel)]="newExtraField.type">
                    <ion-select-option [value]="fieldTypes.TEXT">Text</ion-select-option>
                    <ion-select-option [value]="fieldTypes.NUMBER">Zahl</ion-select-option>
                    <!-- <ion-select-option [value]="fieldTypes.DATE">Datum</ion-select-option> -->
                    <ion-select-option [value]="fieldTypes.BOOLEAN">Ja/Nein</ion-select-option>
                    <ion-select-option [value]="fieldTypes.SELECT">Auswahl</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-item-group>
              @if (newExtraField.type === fieldTypes.SELECT) {
              <ion-list-header>
                <ion-label>Optionen</ion-label>
                <ion-button fill="clear" size="small"
                  (click)="newExtraField.options.push('')">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-list-header>
              <ion-item-group>
                @if (!newExtraField.options?.length) {
                <ion-item>
                  <ion-label>Keine Optionen ausgewählt</ion-label>
                </ion-item>
                } @else {
                @for (option of newExtraField.options; track option; let i = $index) {
                <ion-item>
                  <ion-input [helperText]="i === 0 ? 'Erste Option ist der Standardwert' : undefined" placeholder="Wert eingeben..." [value]="option" (ionChange)="onExtraOptionChanged($event, i)"></ion-input>
                  <ion-button slot="end" (click)="newExtraField.options.splice(i, 1)" fill="clear">
                    <ion-icon color="danger" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-item>
                }
                }
              </ion-item-group>
              }
              <ion-item-group *ngIf="newExtraField.type !== fieldTypes.SELECT">
                <ion-item>
                  @if (newExtraField.type === fieldTypes.BOOLEAN) {
                  <ion-label>Standardwert</ion-label>
                  <ion-toggle slot="end" [(ngModel)]="newExtraField.defaultValue"></ion-toggle>
                  } @else {
                  <ion-input [type]="newExtraField.type === fieldTypes.NUMBER ? 'number' : 'text'"
                    labelPlacement="stacked" label="Standardwert (optional)"
                    [(ngModel)]="newExtraField.defaultValue"></ion-input>
                  }
                </ion-item>
              </ion-item-group>
            </ion-list>
            <ion-button expand="block" (click)="addExtraField(addCustomFieldModal)">Feld
              hinzufügen</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-list-header>
    <ion-item-group>
      @if (extraFields.length === 0) {
      <ion-item>
        <ion-label>Es wurden noch keine zusätzlichen Felder hinzugefügt.</ion-label>
      </ion-item>
      }
      <ion-item *ngFor="let field of extraFields; let i = index">
        <ion-label>
          <h2>{{ field.name }}</h2>
          <h3>Typ: {{ getFieldTypeName(field.type) }}</h3>
        </ion-label>
        <ion-button fill="clear" color="danger" size="small" (click)="removeExtraField(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveGeneralSettings()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>