<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Allgemein</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Gruppenname</ion-label>
        <ion-input [(ngModel)]="longName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kurzname</ion-label>
        <ion-input helperText="Wird vor allem als Dateiname bei Exports verwendet" [(ngModel)]="shortName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          @if (!db.organisation()) {
            <h2>Organisation</h2>
          }
          @if (db.organisation()) {
            <h2>Organisation</h2>
          }
          @if (isSuperAdmin && !db.organisation()) {
            <h3>Weise die Instanz einer bestehenden Organisation zu oder
              erstelle eine. Damit können
              Personen
            innerhalb der Organisation verknüpft werden</h3>
          }
          @if (isSuperAdmin && db.organisation()) {
            <h3>Die Instanz ist der Organisation
            "{{ db.organisation().name }}" zugewiesen. Personen können innerhalb der Organisation verknüpft werden.</h3>
          }
          @if (!isSuperAdmin) {
            <h3>Du hast keine Berechtigung, um Organisationen zu verwalten. Dies können nur
            Administratoren.</h3>
          }
        </ion-label>
        @if (isSuperAdmin && db.organisation()) {
          <ion-button fill="clear" (click)="deleteOrganisation()"
            color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        }
        @if (isSuperAdmin && !db.organisation()) {
          <ion-button fill="clear" (click)="openOrganisationAlert()"
            color="primary">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        }
      </ion-item>
    </ion-item-group>

    <ion-list-header><ion-label>Anwesenheiten</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Saisonbeginn</ion-label>
        <ion-input helperText="Anwesenheiten werden erst ab diesem Datum bei den Personen berücksichtigt"
        [(ngModel)]="attDateString" id="date-modal"></ion-input>
        <ion-modal class="attDateModal" #attModal trigger="date-modal">
          <ng-template>
            <ion-content>
              <ion-datetime show-adjacent-days="true" locale="de-DE" [firstDayOfWeek]="1" [max]="max"
                [(ngModel)]="attDate" (ionChange)="onAttDateChange(attDatePicker.value, attModal)" presentation="date"
              #attDatePicker></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item button [routerLink]="['/tabs/settings/general/types']">
        <ion-label>Anwesenheits-Typen</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/tabs/settings/general/shifts']">
        <ion-label>Schichtpläne</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-list-header><ion-label>Registrierung</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-toggle
          helperText="Aktivieren, um neuen Personen die Registrierung in dieser Instanz zu erlauben. Der Link wird automatisch generiert und kann nach dem Speichern kopiert werden."
        [(ngModel)]="registerAllowed">Registrierung erlauben</ion-toggle>
      </ion-item>
      @if (db.tenant().register_id && registerAllowed) {
        <ion-item (click)="copyRegisterLink()" button detail="false">
          <ion-label color="primary">Link kopieren</ion-label>
        </ion-item>
      }
      @if (registerAllowed) {
        <ion-item>
          <ion-toggle
            helperText="Aktivieren, um neue Registrierungen automatisch zu genehmigen. Andernfalls müssen neue Registrierungen manuell genehmigt werden."
          [(ngModel)]="autoApproveRegistrations">Auto-Genehmigung</ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Registrierungsfelder</ion-label>
          <ion-select multiple="true" [(ngModel)]="selectedRegisterFields">
            @for (field of registerFields; track field.key) {
              <ion-select-option [disabled]="field.disabled" [value]="field.key">{{ field.label }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-note [style.marginBottom]="'5px'">Wähle die Felder aus, die bei der Registrierung angezeigt werden sollen. Alle ausgewählten Felder sind Pflichtfelder.</ion-note>
        </ion-item>
      }
    </ion-item-group>

    <ion-list-header><ion-label>Werk-Datenbank</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item>
        <ion-toggle
          helperText="Aktivieren, um Werke als öffentlichen link zu teilen. Jeder mit dem Link kann die Werke ansehen aber nicht bearbeiten. Der Link wird automatisch generiert und kann nach dem Speichern kopiert werden."
        [(ngModel)]="songSharingEnabled">Werke öffentlich teilen</ion-toggle>
      </ion-item>
      @if (db.tenant().song_sharing_id) {
        <ion-item (click)="copySongSharingLink()" button detail="false">
          <ion-label color="primary">Link kopieren</ion-label>
        </ion-item>
      }
    </ion-item-group>

    <ion-list-header><ion-label>Sonstiges</ion-label></ion-list-header>
    <ion-item-group>
      @if (isOrchestra) {
        <ion-item>
          <ion-toggle helperText="Aktivieren, um die Lehrer der Spieler verwalten zu können."
            [(ngModel)]="maintainTeachers">Lehrer
          pflegen</ion-toggle>
        </ion-item>
      }
      <ion-item>
        <ion-toggle
          helperText="Aktivieren, um Eltern die Möglichkeit zu geben, Einsicht in die Anwesenheiten ihrer Kinder zu geben und Abwesenheiten pflegen zu können."
        [(ngModel)]="parentsEnabled">Eltern-Funktion</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle
          helperText="Aktivieren, um beim Anlegen der Anwesenheiten die Ferien und Feiertage hervorzuheben. (nur verfügbar für Deutschland)"
        [(ngModel)]="showHolidays">Ferien/Feiertage anzeigen</ion-toggle>
      </ion-item>
      @if (showHolidays) {
        <ion-item>
          <ion-label position="stacked">Bundesland für Ferien/Feiertage</ion-label>
          <ion-select [(ngModel)]="region">
            @for (state of holidayStates; track state) {
              <ion-select-option [value]="state.code">{{ state.name
              }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      }
    </ion-item-group>

    <ion-list-header>
      <ion-label>Problemfall-Regeln</ion-label>
      <ion-button id="addCriticalRuleBtn" fill="clear" size="small">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-modal trigger="addCriticalRuleBtn" #addCriticalRuleModal initialBreakpoint="1" [breakpoints]="[0, 1]">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Neue Regel hinzufügen</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content color="light">
            <ion-list [inset]="true">
              <ion-item-group>
                <ion-item>
                  <ion-select label="Anwesenheits-Typen" multiple="true" [(ngModel)]="newCriticalRule.attendance_type_ids"
                    placeholder="Alle Typen">
                    @for (type of attendanceTypes; track type.id) {
                      <ion-select-option [value]="type.id">{{ type.name }}</ion-select-option>
                    }
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-select label="Status" multiple="true" [(ngModel)]="newCriticalRule.statuses">
                    @for (status of getAvailableStatuses(); track status) {
                      <ion-select-option [value]="status">{{ getStatusName(status) }}</ion-select-option>
                    }
                  </ion-select>
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item>
                  <ion-select label="Schwellenwert-Typ" [(ngModel)]="newCriticalRule.threshold_type">
                    <ion-select-option [value]="CriticalRuleThresholdType.COUNT">Anzahl</ion-select-option>
                    <ion-select-option [value]="CriticalRuleThresholdType.PERCENTAGE">Prozent</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-input type="number" labelPlacement="stacked"
                    [label]="newCriticalRule.threshold_type === CriticalRuleThresholdType.COUNT ? 'Anzahl' : 'Prozent'"
                    [(ngModel)]="newCriticalRule.threshold_value"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="number" labelPlacement="stacked" label="Zeitraum (Tage)"
                    helperText="Anzahl der Tage, die zurück geprüft werden"
                    [(ngModel)]="newCriticalRule.period_days"></ion-input>
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item>
                  <ion-select label="Verknüpfung" [(ngModel)]="newCriticalRule.operator"
                    helperText="Wie diese Regel mit anderen Regeln kombiniert wird">
                    <ion-select-option [value]="CriticalRuleOperator.OR">ODER (eine Regel muss zutreffen)</ion-select-option>
                    <ion-select-option [value]="CriticalRuleOperator.AND">UND (alle Regeln müssen zutreffen)</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-item-group>
              <ion-item-group>
                <ion-item (click)="addCriticalRule(addCriticalRuleModal)" button detail="false">
                  <ion-label color="primary">Regel hinzufügen</ion-label>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-list-header>
    <ion-item-group>
      @if (criticalRules.length === 0) {
        <ion-item>
          <ion-label class="ion-text-wrap">
            <p>Es wurden noch keine Problemfall-Regeln definiert. Regeln bestimmen, wann eine Person als Problemfall markiert wird.</p>
          </ion-label>
        </ion-item>
      }
      @for (rule of criticalRules; track rule.id; let i = $index) {
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>{{ getCriticalRuleDescription(rule) }}</h2>
            <p>
              <ion-badge [color]="rule.operator === CriticalRuleOperator.AND ? 'primary' : 'secondary'">
                {{ rule.operator }}
              </ion-badge>
            </p>
          </ion-label>
          <ion-button fill="clear" color="danger" size="small" (click)="removeCriticalRule(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      }
    </ion-item-group>

    <ion-list-header>
      <ion-label>Zusätzliche Felder für Personen</ion-label>
      <ion-button id="addExtraFieldBtn" fill="clear" size="small">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-modal trigger="addExtraFieldBtn" #addCustomFieldModal initialBreakpoint="1" [breakpoints]="[0, 1]">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Neues Feld hinzufügen</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content color="light">
            <ion-list [inset]="true">
              <ion-item-group>
                <ion-item>
                  <ion-select (ionChange)="setDefaultValue()" label="Typ" [(ngModel)]="newExtraField.type">
                    <ion-select-option [value]="fieldTypes.TEXT">Text</ion-select-option>
                    <ion-select-option [value]="fieldTypes.NUMBER">Zahl</ion-select-option>
                    <!-- <ion-select-option [value]="fieldTypes.DATE">Datum</ion-select-option> -->
                    <ion-select-option [value]="fieldTypes.BOOLEAN">Ja/Nein</ion-select-option>
                    <ion-select-option [value]="fieldTypes.SELECT">Auswahl</ion-select-option>
                    @if (db.isBeta()) {
                      <ion-select-option [value]="fieldTypes.BFECG_CHURCH">BFECG Gemeinde</ion-select-option>
                    }
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-input labelPlacement="stacked" label="Name" [(ngModel)]="newExtraField.name"></ion-input>
                </ion-item>
              </ion-item-group>
              @if (newExtraField.type === fieldTypes.SELECT) {
                <ion-list-header>
                  <ion-label>Optionen</ion-label>
                  <ion-button fill="clear" size="small"
                    (click)="newExtraField.options.push('')">
                    <ion-icon name="add-outline"></ion-icon>
                  </ion-button>
                </ion-list-header>
                <ion-item-group>
                  @if (!newExtraField.options?.length) {
                    <ion-item>
                      <ion-label>Keine Optionen ausgewählt</ion-label>
                    </ion-item>
                  } @else {
                    @for (option of newExtraField.options; track option; let i = $index) {
                      <ion-item>
                        <ion-input [helperText]="i === 0 ? 'Erste Option ist der Standardwert' : undefined" placeholder="Wert eingeben..." [value]="option" (ionChange)="onExtraOptionChanged($event, i)"></ion-input>
                        <ion-button slot="end" (click)="newExtraField.options.splice(i, 1)" fill="clear">
                          <ion-icon color="danger" name="trash-outline"></ion-icon>
                        </ion-button>
                      </ion-item>
                    }
                  }
                </ion-item-group>
              }
              @if (newExtraField.type !== fieldTypes.BFECG_CHURCH && newExtraField.type !== fieldTypes.SELECT) {
                <ion-item-group>
                  <ion-item>
                    @if (newExtraField.type === fieldTypes.BOOLEAN) {
                      <ion-label>Standardwert</ion-label>
                      <ion-toggle slot="end" [(ngModel)]="newExtraField.defaultValue"></ion-toggle>
                    } @else {
                      <ion-input [type]="newExtraField.type === fieldTypes.NUMBER ? 'number' : 'text'"
                        labelPlacement="stacked" label="Standardwert (optional)"
                      [(ngModel)]="newExtraField.defaultValue"></ion-input>
                    }
                  </ion-item>
                </ion-item-group>
              }
              <ion-item-group>
                <ion-item (click)="addExtraField(addCustomFieldModal)" button detail="false">
                  <ion-label color="primary">Feld hinzufügen</ion-label>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-list-header>
    <ion-item-group>
      @if (extraFields.length === 0) {
        <ion-item>
          <ion-label>Es wurden noch keine zusätzlichen Felder hinzugefügt.</ion-label>
        </ion-item>
      }
      @for (field of extraFields; track field; let i = $index) {
        <ion-item>
          <ion-label>
            <h2>{{ field.name }}</h2>
            @if (field.id !== 'bfecg_church') {
              <h3>Typ: {{ getFieldTypeName(field.type) }}</h3>
            }
          </ion-label>
          <ion-button fill="clear" color="danger" size="small" (click)="removeExtraField(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      }
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveGeneralSettings()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
