.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.no-data-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 48px;
    opacity: 0.5;
    margin-bottom: 16px;
  }

  p {
    margin: 0;
    font-size: 0.95rem;
  }
}

ion-segment {
  margin: 8px 16px;
}
