<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Werk bearbeiten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="song" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Werk bearbeiten</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Nummer</ion-label>
        <ion-input [(ngModel)]="song.number" type="number" #number></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input [(ngModel)]="song.name" #name></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="song.withChoir" aria-label="Chor & Orchester">Chor & Orchester</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="song.withSolo" aria-label="Mit Solo-Gesang">Mit Solo-Gesang</ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-list-header>
      <ion-label>Dateien</ion-label>
      <ion-button id="file-upload-button" fill="clear" size="small">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <ion-modal trigger="file-upload-button" #fileUploadModal [breakpoints]="[0, 1]" [initialBreakpoint]="1">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Dateien hochladen</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="fileUploadModal.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content color="light">
            <ion-list [inset]="true">
              <input type="file" #fileInput (change)="onFilesSelected($event)" multiple style="display:none;" />
              <ion-button expand="block" (click)="fileInput.click()">
                <ion-icon name="attach-outline" slot="start"></ion-icon>
                Dateien auswählen
              </ion-button>

              <ion-item-group *ngIf="selectedFileInfos?.length">
                <ion-item-sliding *ngFor="let fileInfo of selectedFileInfos; let i = index">
                  <ion-item>
                    <ion-label>
                      <h2>{{ fileInfo.file.name }}</h2>
                    </ion-label>
                    <ion-select slot="end" placeholder="Instrument"
                      (ionChange)="changeFileInstrument(i, $event.detail.value)" [value]="fileInfo.instrumentId">
                      <ion-select-option [value]="null">Sonstige</ion-select-option>
                      <ion-select-option [value]="1">Aufnahme</ion-select-option>
                      <ion-select-option *ngFor="let instrument of instruments" [value]="instrument.id">{{
                        instrument.name }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="removeSelectedFile(i)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item-group>

              <br>

              <ion-button *ngIf="selectedFileInfos?.length" (click)="uploadFiles($event, fileUploadModal)"
                expand="block">Hochladen</ion-button>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-list-header>
    <ion-item-group>
      @if (song.files && song.files.length > 0) {
      <ion-item-sliding *ngFor="let file of song.files; let i = index">
        <ion-item>
          <ion-label>
            {{ file.fileName }}
          </ion-label>
          <ion-badge [color]="getInstrumentName(file.instrumentId) === 'Sonstige' ? 'medium' : file.instrumentId === 1 ? 'primary' : 'secondary'" slot="end">{{
            getInstrumentName(file.instrumentId) }}</ion-badge>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="downloadFile(file)">
            <ion-icon name="download-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="secondary" (click)="changeCategory(file)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteFile(file)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      } @else {
      <ion-item>
        <ion-label>Keine Dateien vorhanden.</ion-label>
      </ion-item>
      }
    </ion-item-group>

    <br>

    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Link</ion-label>
        <ion-textarea [(ngModel)]="song.link" autoGrow="true" #link></ion-textarea>
      </ion-item>
      <ion-item *ngIf="isOrchestra">
        <ion-select interface="modal" label="Besetzung" multiple="true" [(ngModel)]="selectedInstruments">
          <ion-select-option [value]="instrument.id" *ngFor="let instrument of instruments">{{ instrument.name
            }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>