<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" [defaultHref]="tenant ? sharing_id : 'tabs/settings/songs'"></ion-back-button>
    </ion-buttons>
    @if (readOnly) {
    <ion-title *ngIf="song">{{ song.number }} {{ song.name }}</ion-title>
    } @else {
    <ion-title>Werk bearbeiten</ion-title>
    }
    <ion-buttons slot="end">
      <ion-button (click)="copyShareLink()" *ngIf="tenant || db.tenant()?.song_sharing_id">
        <ion-icon slot="icon-only" name="link-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!readOnly" (click)="confirmDeleteSong()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  @if (song) {
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      @if (readOnly) {
      <ion-title *ngIf="song" size="large">{{ song.number }} {{ song.name }}</ion-title>
      } @else {
      <ion-title size="large">Werk bearbeiten</ion-title>
      }
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    @if (!readOnly) {
    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Präfix (optional)</ion-label>
        <ion-input helperText="Bspw. um Weihnachtslieder kennzeichnen zu können (z.B. W für Weihnachten -> W1)"
          (ionBlur)="update()" [(ngModel)]="song.prefix" type="text" #prefix></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nummer</ion-label>
        <ion-input (ionBlur)="update()" [(ngModel)]="song.number" type="number" #number></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input (ionBlur)="update()" [(ngModel)]="song.name" #name></ion-input>
      </ion-item>

      <ion-item>
        <ion-select (ionChange)="update()" interface="popover" label="Schwierigkeitsgrad" [(ngModel)]="song.difficulty">
          <ion-select-option [value]="null">Nicht definiert</ion-select-option>
          <ion-select-option [value]="1">1 - Leicht</ion-select-option>
          <ion-select-option [value]="2">2 - Mittel</ion-select-option>
          <ion-select-option [value]="3">3 - Schwer</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-toggle (ionChange)="update()" [(ngModel)]="song.withChoir" aria-label="Chor & Orchester">Chor &
          Orchester</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle (ionChange)="update()" [(ngModel)]="song.withSolo" aria-label="Mit Solo-Gesang">Mit
          Solo-Gesang</ion-toggle>
      </ion-item>

      <ion-item *ngIf="isOrchestra && !readOnly">
        <ion-select (ionDismiss)="update()" interface="modal" label="Besetzung" multiple="true"
          [(ngModel)]="song.instrument_ids">
          <ion-select-option [value]="instrument.id" *ngFor="let instrument of instruments">{{ instrument.name
            }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!readOnly">
        <ion-select (ionChange)="update()" interface="popover" label="Kategorie" [(ngModel)]="song.category">
          <ion-select-option [value]="null">Keine Kategorie</ion-select-option>
          <ion-select-option [value]="category.id" *ngFor="let category of db.songCategories()">{{ category.name
            }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    }

    @if (readOnly && song.category) {
    <ion-list-header>
      <ion-label>Kategorie</ion-label>
    </ion-list-header>
    <ion-item-group>
      <ion-chip color="secondary">{{ getCategoryName(song.category) }}</ion-chip>
    </ion-item-group>
    }

    @if (readOnly && (song.withChoir || song.withSolo || (isOrchestra && song.instrument_ids?.length))) {
    <ion-list-header>
      <ion-label>Besetzung</ion-label>
    </ion-list-header>
    <ion-item-group>
      <ion-chip color="primary" *ngIf="song.withChoir">Chor & Orchester</ion-chip>
      <ion-chip color="primary" *ngIf="song.withSolo">Mit Solo-Gesang</ion-chip>
      <br>
      @if (isOrchestra && song.instrument_ids?.length) {
      <ion-chip [color]="song.instrument_ids?.includes(instrument.id) ? 'success' : 'danger'"
        *ngFor="let instrument of instruments" style="margin-left: 5px;">
        <ion-label>{{ instrument.name }}</ion-label>
      </ion-chip>
      }
    </ion-item-group>
    }

    <ion-list-header>
      <ion-label>Dateien</ion-label>
      @if (readOnly && song.files && song.files.length > 0) {
      <ion-button (click)="downloadAllFiles()" fill="clear" size="small">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
      } @else if (song.files && song.files.length > 0) {
      <ion-button id="files-button" fill="clear" size="small">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-popover #filesPopover trigger="files-button" triggerAction="click">
        <ng-template>
          <ion-list>
            <ion-item *ngIf="!readOnly" button (click)="printSongFiles(filesPopover)">
              <ion-icon name="print-outline" slot="start"></ion-icon>
              Gruppen-PDFs drucken
            </ion-item>
            <ion-item button (click)="downloadAllFiles(filesPopover)">
              <ion-icon name="download-outline" slot="start"></ion-icon>
              Alle Dateien herunterladen
            </ion-item>
            <ion-item button (click)="filesPopover.dismiss(); isFilesModalOpen = true">
              <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
              Dateien hochladen
            </ion-item>
            <ion-item button (click)="deleteAllFiles(filesPopover)">
              <ion-icon name="trash-outline" slot="start"></ion-icon>
              Alle Dateien löschen
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
      } @else if (!readOnly) {
      <ion-button (click)="isFilesModalOpen = true" fill="clear" size="small">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
      }
      <ion-modal [isOpen]="isFilesModalOpen" (ionModalDidDismiss)="isFilesModalOpen = false" #fileUploadModal
        [breakpoints]="[0, 1]" [initialBreakpoint]="1">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Dateien hochladen</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="fileUploadModal.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content color="light">
            <ion-card color="warning">
              <ion-card-content>
                <p><strong>Wichtige Infos:</strong>
                  <br>- Die Besetzung wird nach dem Hochladen automatisch anhand der ausgewählten Instrumente
                  aktualisiert.
                  <br>- Füge den Instrumenten Synonyme hinzu (<a
                    href="/tabs/settings/instruments">Gruppeneinstellungen</a>), um die automatische Zuordnung der
                  Dateien zu verbessern.
                  <br>- Beim Hochladen mehrerer Dateien kann es je nach Dateigröße und Internetverbindung einige Zeit
                  dauern, bis alle Dateien vollständig hochgeladen sind. Bitte schließen Sie das Fenster nicht, bis der
                  Upload abgeschlossen ist.
                </p>
              </ion-card-content>
            </ion-card>

            <ion-list [inset]="true">
              <input type="file" #fileInput (change)="onFilesSelected($event)" multiple style="display:none;" />
              <ion-button expand="block" (click)="fileInput.click()">
                <ion-icon name="attach-outline" slot="start"></ion-icon>
                Dateien auswählen
              </ion-button>

              <ion-item-group *ngIf="selectedFileInfos?.length">
                <ion-item-sliding #sliderFile
                  *ngFor="let fileInfo of selectedFileInfos; let i = index; trackBy: trackByFileInfo">
                  <ion-item>
                    <ion-label>
                      <h2>{{ fileInfo.file.name }}</h2>
                    </ion-label>
                    <ion-select slot="end" placeholder="Instrument"
                      (ionChange)="changeFileInstrument(i, $event.detail.value, fileInfo.note)"
                      [value]="fileInfo.instrumentId">
                      <ion-select-option [value]="null">{{ fileInfo.note ? fileInfo.note + ' (Sonstige)' : 'Sonstige
                        (Freitext möglich)' }}</ion-select-option>
                      <ion-select-option [value]="1">Aufnahme</ion-select-option>
                      <ion-select-option [value]="2">Liedtext</ion-select-option>
                      <ion-select-option *ngFor="let instrument of instruments" [value]="instrument.id">{{
                        instrument.name }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item-options (ionSwipe)="removeSelectedFile(i)" side="end">
                    <ion-item-option color="danger" (click)="removeSelectedFile(i, sliderFile)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item-group>

              <br>

              <ion-button *ngIf="selectedFileInfos?.length" (click)="uploadFiles($event, fileUploadModal)"
                expand="block">Hochladen</ion-button>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-list-header>
    <ion-item-group>
      @if (song.files && song.files.length > 0) {
      <ion-item detail="false" *ngFor="let file of song.files; let i = index" (click)="openFileActionSheet(file)"
        button>
        <ion-label>
          {{ file.fileName }}
        </ion-label>
        <ion-badge
          [color]="getInstrumentName(file.instrumentId, file.note) === 'Sonstige' ? 'medium' : file.instrumentId === 1 ? 'primary' : 'secondary'"
          slot="end">{{
          getInstrumentName(file.instrumentId, file.note) }}</ion-badge>
      </ion-item>
      } @else {
      <ion-item>
        <ion-label>Keine Dateien vorhanden.</ion-label>
      </ion-item>
      }
    </ion-item-group>

    <br>

    <ion-item-group *ngIf="!readOnly || song.link">
      @if (readOnly) {
      <ion-item button (click)="openLink(song.link)">
        <ion-label color="primary">Externen Noten-Link öffnen</ion-label>
      </ion-item>
      } @else {
      <ion-item>
        <ion-label position="stacked">Link</ion-label>
        <ion-textarea (ionBlur)="update()" [(ngModel)]="song.link" autoGrow="true" #link></ion-textarea>
      </ion-item>
      }
    </ion-item-group>

    <ion-item-group *ngIf="!readOnly && organisation && availableTenants.length > 0">
      <ion-item (click)="isCopyModalOpen = true">
        <ion-icon slot="start" name="copy-outline"></ion-icon>
        <ion-label>Werk in andere Instanz kopieren</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  }
</ion-content>

<!-- Copy to other instance modal -->
<ion-modal (ionModalDidDismiss)="isCopyModalOpen = false" backdropDismiss="true" [breakpoints]="[0, 0.6, 1]"
  [initialBreakpoint]="0.6" [isOpen]="isCopyModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Werk kopieren</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isCopyModalOpen = false">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list [inset]="true">
        <ion-item-group>
          <ion-item>
            <ion-select (ionChange)="onTargetTenantChange()" label="Ziel-Instanz" [(ngModel)]="targetTenantId">
              <ion-select-option [value]="tnt.id" *ngFor="let tnt of availableTenants">{{ tnt.longName
                }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
      </ion-list>

      <ion-list [inset]="true">
        <ion-item-group>
          <ion-item>
            <ion-note color="medium">
              Das Werk "{{ song?.name }}" wird in die ausgewählte Instanz kopiert. Alle Dateien werden ebenfalls
              kopiert.
              Die Kategorie wird nicht übernommen. Instrumentenzuordnungen werden automatisch anhand des Namens gemappt.
            </ion-note>
          </ion-item>
        </ion-item-group>
      </ion-list>

      <ion-button [disabled]="!targetTenantId" (click)="copySong()" expand="block"
        class="ion-margin">Kopieren</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
