ion-modal.dateModal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal.dateModal ion-datetime {
  height: 382px;
}

.invisible {
  display: none;
}

ion-card {
  margin-top: 1rem;
}

ion-datetime.ios::part(calendar-day active),
ion-datetime.ios::part(calendar-day active):focus {
  background-color: rgb(154 209 98 / 0.2);
  color: #9ad162;
}