ion-modal.dateModal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal.dateModal ion-datetime {
  height: 382px;
}

.invisible {
  display: none;
}

ion-card-title {
  font-weight: 200; 
  font-size: 1.3em; 
  margin-bottom: 0.1em;
}

ion-card-subtitle {
  font-size: 0.95em;
}

.accordion-header {
  font-size: larger;
}