<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Anwesenheit</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isConductor" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Anwesenheit</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group value="current" *ngIf="currentAttendance">
    <ion-accordion value="current">
      <ion-item slot="header" color="light">
        <ion-label>Aktuelle</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item button detail="false" (click)="openAttendance(currentAttendance)" *ngIf="currentAttendance">
          <ion-label *ngIf="currentAttendance.type === 'uebung'">{{ getReadableDate(currentAttendance.date) }}</ion-label>
          <ion-label *ngIf="currentAttendance.type !== 'uebung'">{{ getReadableDate(currentAttendance.date) }} |
            {{ getTypeText(currentAttendance.type, currentAttendance.typeInfo) }}</ion-label>
          <ion-badge *ngIf="currentAttendance.percentage" slot="end">{{ currentAttendance.percentage }}%</ion-badge>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group value="" *ngIf="attendances.length">
    <ion-accordion value="actual">
      <ion-item slot="header" color="light">
        <ion-label>Anstehende</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item-sliding *ngFor="let att of attendances">
            <ion-item button detail="false" (click)="openAttendance(att)">
              <ion-label *ngIf="att.type === 'uebung'">{{ getReadableDate(att.date) }}</ion-label>
              <ion-label *ngIf="att.type !== 'uebung'">{{ getReadableDate(att.date) }} |
                {{ getTypeText(att.type, att.typeInfo) }}</ion-label>
              <ion-badge *ngIf="att.percentage" slot="end">{{ att.percentage }}%</ion-badge>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="remove(att.id)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-accordion-group value="old" *ngIf="oldAttendances.length">
    <ion-accordion value="old">
      <ion-item slot="header" color="light">
        <ion-label>Vergangene</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list class="marginBottom">
          <ion-item-divider>
            <ion-label>Durchschnitt</ion-label>
            <ion-badge style="margin-right: '16px'" slot="end">{{ perc }}%</ion-badge>
          </ion-item-divider>
          <ion-item-sliding *ngFor="let att of oldAttendances">
            <ion-item button detail="false" (click)="openAttendance(att)">
              <ion-label *ngIf="att.type === 'uebung'">{{ getReadableDate(att.date) }}</ion-label>
              <ion-label *ngIf="att.type !== 'uebung'">{{ getReadableDate(att.date) }} |
                {{ getTypeText(att.type, att.typeInfo) }}</ion-label>
              <ion-badge *ngIf="att.percentage" slot="end">{{ att.percentage }}%</ion-badge>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="remove(att.id)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-modal #addAttModal trigger="add-att-button" [breakpoints]="[0.5]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-title>Anwesenheit hinzufügen</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-item>
          <ion-label position="stacked">Datum</ion-label>
          <ion-input readonly [(ngModel)]="dateString" id="att-date-modal"></ion-input>
          <ion-modal class="dateModal" trigger="att-date-modal">
            <ng-template>
              <ion-content>
                <ion-datetime [(ngModel)]="date" (ionChange)="dateString = formatDate(dateTimePickerDate.value)"
                  presentation="date" #dateTimePickerDate></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <ion-label>Kategorie</ion-label>
          <ion-select [(ngModel)]="type">
            <ion-select-option value="uebung">Übung</ion-select-option>
            <ion-select-option value="vortrag">Vortrag</ion-select-option>
            <ion-select-option value="sonstiges">Sonstiges</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="type === 'sonstiges'">
          <ion-label position="stacked">Veranstaltung</ion-label>
          <ion-textarea [(ngModel)]="typeInfo"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Notizen</ion-label>
          <ion-textarea [(ngModel)]="notes"></ion-textarea>
        </ion-item>
        <ion-button (click)="addAttendance(addAttModal)" expand="block">Hinzufügen</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-att-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
