<ion-header>
  <ion-toolbar>
    <ion-title>Werkhistorie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)" animated placeholder="Werk suchen..."></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let entry of historyFiltered">
      <ion-label>
        <h2>{{ entry.name }}</h2>
        <h3>{{ entry.date | date:'dd.MM.yyyy' }} | {{ entry.conductorName }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal trigger="add-his-button" [breakpoints]="[0.7]" [initialBreakpoint]="0.7">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-title>Werk hinzufügen</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-item>
          <ion-label position="stacked">Werk</ion-label>
          <ion-select [(ngModel)]="historyEntry.songId" #select multiple="false">
            <ion-select-option [value]="song.id" *ngFor="let song of songs">{{ song.number }} {{ song.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Dirigent</ion-label>
          <ion-select [(ngModel)]="historyEntry.conductor" #select multiple="false">
            <ion-select-option [value]="con.id" *ngFor="let con of conductors">{{ con.firstName }} {{ con.lastName }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Datum</ion-label>
          <ion-input readonly [(ngModel)]="dateString" id="att-date-modal"></ion-input>
          <ion-modal #addAttModal class="dateModal" trigger="att-date-modal">
            <ng-template>
              <ion-content>
                <ion-datetime
                  [(ngModel)]="historyEntry.date"
                  (ionChange)="dateString = formatDate(dateTimePickerDate.value)"
                  presentation="date"
                  #dateTimePickerDate
                ></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-button (click)="addHistoryEntry(addAttModal)" expand="block">Hinzufügen</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-his-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
