<ion-tabs>

  <ion-tab-bar slot="bottom">
    @if (isParent) {
      <ion-tab-button tab="parents">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Termine</ion-label>
      </ion-tab-button>
    }

    @if (!isConductor && !isParent) {
      <ion-tab-button tab="signout">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Meine Termine</ion-label>
      </ion-tab-button>
    }

    @if (showMembersTab) {
      <ion-tab-button tab="members">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Mitglieder</ion-label>
      </ion-tab-button>
    }

    @if ((isPlayer || isHelper) && hasMultipleTenants) {
      <ion-tab-button tab="overview">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Übersicht</ion-label>
      </ion-tab-button>
    }

    @if (isConductor) {
      <ion-tab-button tab="player">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Personen</ion-label>
      </ion-tab-button>
    }

    @if (isHelper || isConductor) {
      <ion-tab-button tab="attendance">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>Anwesenheit</ion-label>
      </ion-tab-button>
    }

    <ion-tab-button tab="settings">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Mehr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
