<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="isParent" tab="parents">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>An-/Abmeldung</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isConductor && !isParent" tab="signout">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Meine Termine</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isConductor || isParent" tab="player">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label *ngIf="isParent">Meine Kinder</ion-label>
      <ion-label *ngIf="!isParent">Personen</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isHelper || isConductor" tab="attendance">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Anwesenheit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Mehr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
