<ion-tabs>

  <ion-tab-bar *ngIf="isConductor" slot="bottom">
    <ion-tab-button tab="player">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Spieler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attendance">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Anwesenheit</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isConductor" tab="instruments">
      <ion-icon name="musical-note-outline"></ion-icon>
      <ion-label>Instrumente</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isConductor && showTeachers" tab="teachers">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Lehrer</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isConductor" tab="settings">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Mehr</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
