<ion-header>
  <ion-toolbar [color]="player?.isCritical ? 'danger' : ''">
    <ion-title *ngIf="!existingPlayer">Person hinzufügen</ion-title>
    <ion-title *ngIf="!readOnly && existingPlayer">Person bearbeiten</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modalBackground" #content>
  <ion-grid *ngIf="player">
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Vorname</ion-label>
          <ion-input [disabled]="readOnly" (ionBlur)="onChangeName()" (ionChange)="onChange()"
            [(ngModel)]="player.firstName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Nachname</ion-label>
          <ion-input [disabled]="readOnly" (ionBlur)="onChangeName()" (ionChange)="onChange()"
            [(ngModel)]="player.lastName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="existingPlayer && isAdmin">
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Notizen</ion-label>
          <ion-textarea [disabled]="readOnly" autoGrow="true" (ionChange)="onChange()"
            [(ngModel)]="player.notes"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-accordion-group value="critical" *ngIf="!readOnly && player?.isCritical">
    <ion-accordion value="critical">
      <ion-item slot="header" color="light">
        <ion-label>Problemfall</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item>
          <ion-label>Grund: {{ player.criticalReasonText }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-toggle label="Mit Person gesprochen" (ionChange)="onChange()" [(ngModel)]="solved"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="solved">
          <ion-label position="stacked">Anmerkungen</ion-label>
          <ion-textarea autoGrow="true" (ionChange)="onChange()" [(ngModel)]="notes"></ion-textarea>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group *ngIf="player" [value]="existingPlayer && !readOnly ? '' : 'more'">
    <ion-accordion value="more">
      <ion-item slot="header" color="light">
        <ion-label>Allgemein</ion-label>
      </ion-item>
      <div slot="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-select interface="modal" label="Gruppe" [disabled]="readOnly" (ionChange)="onInstrumentChange()"
                  #select [(ngModel)]="player.instrument">
                  <ion-select-option [value]="i.id" *ngFor="let i of db.groups()">
                    {{ i.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isChoir">
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Stimmumfang</ion-label>
                <ion-input [disabled]="readOnly || !isAdmin" [(ngModel)]="player.range"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Telefon-/Handynummer</ion-label>
                <ion-input [disabled]="readOnly" (ionChange)="onChange()" [(ngModel)]="player.phone"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item [color]="!existingPlayer || player.correctBirthday || readOnly ? '' : 'warning'">
                <ion-label position="stacked">Geburtsdatum</ion-label>
                <ion-input [disabled]="readOnly" readonly [(ngModel)]="birthdayString" id="date-modal"></ion-input>
                <ion-modal class="dateModal" #birthdayModal trigger="date-modal">
                  <ng-template>
                    <ion-datetime show-adjacent-days="true" locale="de-DE" [firstDayOfWeek]="1" [max]="max"
                      [(ngModel)]="player.birthday"
                      (ionChange)="onBirthdayChange(dateTimePickerBirthday.value, birthdayModal)" presentation="date"
                      #dateTimePickerBirthday></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!isGeneral && !isChoir && !isMainGroup">
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Spielt auf dem Instrument seit</ion-label>
                <ion-input [disabled]="readOnly" readonly [(ngModel)]="playsSinceString" id="plays-modal"></ion-input>
                <ion-modal class="dateModal" #playsSinceModal trigger="plays-modal">
                  <ng-template>
                    <ion-datetime show-adjacent-days="true" locale="de-DE" [firstDayOfWeek]="1" [max]="max"
                      [(ngModel)]="player.playsSince"
                      (ionChange)="onPlaysSinceChange(dateTimePickerPlays.value, playsSinceModal)" presentation="date"
                      #dateTimePickerPlays></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Beigetreten am</ion-label>
                <ion-input [disabled]="readOnly" readonly [(ngModel)]="joinedString" id="joined-modal"></ion-input>
                <ion-modal class="dateModal" #joinedModal trigger="joined-modal">
                  <ng-template>
                    <ion-datetime show-adjacent-days="true" locale="de-DE" [firstDayOfWeek]="1" [max]="max"
                      [(ngModel)]="player.joined" (ionChange)="onJoinedChange(dateTimePickerJoined.value, joinedModal)"
                      presentation="date" #dateTimePickerJoined></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="parentsEnabled && !isMainGroup && !isParent">
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Eltern</ion-label>
                <ion-select interface="modal" [disabled]="readOnly" (ionChange)="onChange()"
                  [(ngModel)]="player.parent_id">
                  <ion-select-option [value]="null">Nicht festgelegt</ion-select-option>
                  <ion-select-option [value]="parent.id" *ngFor="let parent of parents">
                    {{ parent.firstName }} {{ parent.lastName }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="showTeachers && !isMainGroup">
            <ion-col>
              <ion-item>
                <ion-toggle label="Spielt beim Lehrer" [disabled]="readOnly" (ionChange)="onChange()"
                  [(ngModel)]="player.hasTeacher">Spielt beim Lehrer</ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="player.hasTeacher && showTeachers && !isMainGroup">
            <ion-col>
              <ion-item>
                <ion-select interface="modal" label="Lehrer" [disabled]="readOnly" (ionChange)="onChange()"
                  [(ngModel)]="player.teacher">
                  <ion-select-option [value]="teacher.id" *ngFor="let teacher of teachers">
                    {{ teacher.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!isGeneral && !isMainGroup">
            <ion-col>
              <ion-item>
                <ion-toggle label="Stimmführer" [disabled]="readOnly" (ionChange)="onChange()"
                  [(ngModel)]="player.isLeader">Stimmführer</ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item *ngIf="!isMainGroup && isChoir">
            <ion-label position="stacked">Instrumente</ion-label>
            <ion-input [disabled]="readOnly || !isAdmin" (ionChange)="onChange()"
              [(ngModel)]="player.instruments"></ion-input>
          </ion-item>
          <ion-row *ngIf="!isMainGroup && isVoS && (!readOnly || (player.otherOrchestras ?? []).length)">
            <ion-col>
              <ion-item>
                <ion-select label="Andere Orchester" [disabled]="readOnly" multiple="true" (ionChange)="onChange()"
                  [(ngModel)]="player.otherOrchestras">
                  <ion-select-option>SoS</ion-select-option>
                  <ion-select-option>GoS</ion-select-option>
                  <ion-select-option>BoS</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isVoS && !isMainGroup && (!readOnly || player.examinee)">
            <ion-col>
              <ion-item>
                <ion-toggle label="Prüfling" [disabled]="readOnly" (ionChange)="onChange()"
                  [(ngModel)]="player.examinee">Prüfling</ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isVoS && !isMainGroup">
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Testergebnis</ion-label>
                <ion-input [disabled]="readOnly" (ionChange)="onChange()" [(ngModel)]="player.testResult"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="db.shifts()?.length && db.isBeta()">
            <ion-col>
              <ion-item>
                <ion-select label="Schichtplan" [disabled]="readOnly" (ionChange)="onShiftChange()"
                  [(ngModel)]="player.shift_id">
                  <ion-select-option [value]="null">Keine Schicht zugewiesen</ion-select-option>
                  <ion-select-option [value]="sh.id" *ngFor="let sh of db.shifts()">
                    {{ sh.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="player.shift_id && db.isBeta()">
            <ion-col>
              @if (shift && shift.shifts.length > 1) {
              <ion-item>
                <ion-select label="Schicht" [disabled]="readOnly" (ionChange)="onChange()" [(ngModel)]="player.shift_name">
                  <ion-select-option [value]="sh.name"
                    *ngFor="let sh of shift.shifts">
                    {{ sh.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              } @else {
              <ion-item>
                <ion-label>Anfangsdatum</ion-label>
                <ion-datetime-button [disabled]="readOnly" datetime="shift_start_date"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime [(ngModel)]="player.shift_start" presentation="date" id="shift_start_date"
                      locale="de-DE"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              }
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!readOnly || player.otherExercise">
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Sonstige Dienste</ion-label>
                <ion-input [disabled]="readOnly" (ionChange)="onChange()"
                  [(ngModel)]="player.otherExercise"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="existingPlayer && !readOnly">
            <ion-col>
              <input style="display: none;" name="file" #chooser (change)="onImageSelect($event)" accept="image/*"
                class="inputFile" type="file" />
              <ion-item button lines="none" (click)="changeImg()">
                <ion-label>Profilbild</ion-label>
                <ion-avatar slot="end">
                  <img [src]="player.img" />
                </ion-avatar>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>

    <ion-accordion *ngIf="!isParent && !readOnly">
      <ion-item slot="header" color="light">
        <ion-label>Account</ion-label>
      </ion-item>
      <div slot="content">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">E-Mail</ion-label>
              <ion-input [disabled]="player.appId || readOnly" (ionChange)="onChange()"
                [(ngModel)]="player.email"></ion-input>
              <ion-button *ngIf="!player.appId && !readOnly" slot="end" (click)="searchPerson()">
                <ion-icon name="search"></ion-icon>
              </ion-button>
              <ion-button color="danger" *ngIf="player.appId && !readOnly" slot="end" (click)="removeUserFromTenant()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isMainGroup && player.email && player.appId">
          <ion-col>
            <ion-item>
              <ion-select (ionChange)="onRoleChange()" label="Rolle" type="number" [disabled]="readOnly || isMainGroup"
                [(ngModel)]="role">
                <ion-select-option [value]="PLAYER">Mitglied</ion-select-option>
                <ion-select-option [value]="RESPONSIBLE">Verantwortlicher</ion-select-option>
                <ion-select-option [value]="HELPER">Helfer</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-button id="accountHelpButton" fill="clear" size="small">
          <ion-icon slot="start" name="help-circle-outline"></ion-icon>
          Hilfe
        </ion-button>
        <ion-modal #accountHelpModal trigger="accountHelpButton" [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]="0.5">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Hilfe</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="accountHelpModal.dismiss()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-item *ngIf="!player.appId" lines="none">
                <ion-label>Sobald die E-Mail Adresse eingeben wurde, kann ein Account erstellt werden. Der Benutzer wird
                  per
                  E-Mail über die Erstellung benachrichtigt. Das Passwort wird automatisch generiert und an die E-Mail
                  Adresse
                  gesendet.</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Falls schon ein Benutzer für die E-Mail Adresse existiert, wird dieser automatisch der
                  Instanz zugewiesen.</ion-label>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-accordion>

    <ion-accordion *ngIf="db.tenant().additional_fields?.length">
      <ion-item slot="header" color="light">
        <ion-label>Zusatzfelder</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item *ngFor="let field of db.tenant().additional_fields">
            @if (field.type === fieldTypes.TEXT) {
            <ion-input [disabled]="readOnly" (ionChange)="onChange()" [label]="field.name" labelPlacement="stacked"
              [(ngModel)]="player.additional_fields[field.id]"></ion-input>
            } @else if (field.type === fieldTypes.NUMBER) {
            <ion-input type="number" [disabled]="readOnly" (ionChange)="onChange()" [label]="field.name"
              labelPlacement="stacked" [(ngModel)]="player.additional_fields[field.id]"></ion-input>
            } @else if (field.type === fieldTypes.BOOLEAN) {
              <ion-label>{{ field.name }}</ion-label>
              <ion-toggle slot="end" (ionChange)="onChange()" [(ngModel)]="player.additional_fields[field.id]"></ion-toggle>
            } @else if (field.type === fieldTypes.DATE) {
              <ion-label position="stacked">{{ field.name }}</ion-label>
              <ion-input [disabled]="readOnly" [value]="getExtraFieldDateString(player.additional_fields[field.id])"
                [id]="'extra-field-date-' + field.id"></ion-input>
              <ion-modal class="dateModal" #extraFieldDateModal [trigger]="'extra-field-date-' + field.id">
                <ng-template>
                  <ion-datetime show-adjacent-days="true" locale="de-DE" [firstDayOfWeek]="1" [max]="max"
                    [(ngModel)]="player.additional_fields[field.id]"
                    (ionChange)="onExtraFieldDateChange(field.id, extraFieldDatePicker.value, extraFieldDateModal)"
                    presentation="date" #extraFieldDatePicker></ion-datetime>
                </ng-template>
              </ion-modal>
            } @else if (field.type === fieldTypes.SELECT) {
            <ion-select [(ngModel)]="player.additional_fields[field.id]" [disabled]="readOnly" (ionChange)="onChange()" [label]="field.name">
              <ion-select-option *ngFor="let option of field.options" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
            } @else if (field.type === fieldTypes.TEXTAREA) {
            <ion-textarea [disabled]="readOnly" autoGrow="true" (ionChange)="onChange()" [label]="field.name"
              labelPlacement="stacked" [(ngModel)]="player.additional_fields[field.id]"></ion-textarea>
            }
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion *ngIf="otherTenants.length" value="otherTenants">
      <ion-item slot="header" color="light">
        <ion-label>Andere Instanzen</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item lines="none" *ngFor="let tenant of otherTenants">
            <ion-label>
              <h2>{{ tenant.longName }}</h2>
              <p>{{ getRoleText(tenant.role) }}</p>
            </ion-label>
            <ion-badge [color]="tenant.percColor" slot="end">{{ tenant.perc ?? "n/a" }}</ion-badge>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group [value]="existingPlayer ? 'first' : ''" *ngIf="personAttendance.length || history.length">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Historie</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-label *ngIf="lateCount === 0">Durchschnitt</ion-label>
            <ion-label *ngIf="lateCount !== 0">Durchschnitt ({{lateCount}}x zu spät)</ion-label>
            <ion-badge [color]="perc >= 75 ? 'success' : perc >= 50 ? 'warning' : 'danger'" slot="end">{{ perc
              }}%</ion-badge>
          </ion-item>
          <ion-item-sliding #slider *ngFor="let att of history">
            <ion-item (click)="onHisItemClicked(att)">
              <ion-label>
                <h2 *ngIf="att.type === 2 || att.type === 3">Mit Person gesprochen ({{ att.date | date:'dd.MM.yyyy
                  HH:mm' }})</h2>
                <h2 *ngIf="att.type === 5">Notiz geändert am {{ att.date | date:'dd.MM.yyyy HH:mm' }}</h2>
                <h2 *ngIf="att.type === 4 && att.title">{{ att.date | date:'dd.MM.yyyy' }} | {{ att.title }}</h2>
                <h2 *ngIf="att.type === 4 && !att.title">{{ att.date | date:'dd.MM.yyyy' }}</h2>
                <h2 *ngIf="att.type === 1">Pausiert am {{ att.date | date:'dd.MM.yyyy HH:mm' }}</h2>
                <h2 *ngIf="att.type === 6">Wieder aktiv seid {{ att.date | date:'dd.MM.yyyy HH:mm' }}</h2>
                <h2 *ngIf="att.type === 7 && att.date">{{ att.date | date:'dd.MM.yyyy' }}</h2>
                <h2 *ngIf="att.type === 8 && att.date">Archiviert am {{ att.date | date:'dd.MM.yyyy' }}</h2>
                <h2 *ngIf="att.type === 9 && att.date">Reaktiviert am {{ att.date | date:'dd.MM.yyyy' }}</h2>
                <h2 *ngIf="att.type === 10 || att.type === 11">Übertragen am {{ att.date | date:'dd.MM.yyyy' }}</h2>
                <h2 *ngIf="att.type === 12 || att.type === 13">Kopiert am {{ att.date | date:'dd.MM.yyyy' }}</h2>
                <h3
                  *ngIf="att.type !== 10 && att.type !== 11 && att.type !== 12 && att.type !== 13 && att.type !== 8 && att.type !== 9 && att.type !== 4 && att.type !== 6 && att.type !== 5">
                  {{ getTypeText(att.type) }}: {{ att.text
                  ? att.text : 'Keine Anmerkung' }}</h3>
                <h3 *ngIf="att.type === 5 || att.type === 8">{{ att.text }}</h3>
                <h3 *ngIf="att.type === 4 && att.notes">{{ att.notes }}</h3>
                <h3 *ngIf="att.type === 10 || att.type === 11 || att.type === 12 || att.type === 13">
                  {{ att.text }}
                </h3>
              </ion-label>

              <ion-badge *ngIf="att.type === 4" slot="end" [color]="att.text === 'X' ? 'success' :
                                                                    att.text === 'A' ? 'danger' :
                                                                    att.text === 'N' ? 'medium' :
                                                                    att.text === 'L' ? 'tertiary' : 'warning'">
                {{ getAttText(att.text) }}</ion-badge>
            </ion-item>
            <ion-item-options *ngIf="att.type !== 4 && !readOnly">
              <ion-item-option color="danger" (click)="removeHis(att, slider)">
                <ion-icon name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab *ngIf="player" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!readOnly && existingPlayer && hasChanges" (click)="updatePlayer()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!existingPlayer" (click)="addPerson()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!readOnly && existingPlayer && !hasChanges && !player.appId && player.email"
      (click)="register()">
      <ion-icon name="key-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!readOnly && existingPlayer && !hasChanges && (player.appId || !player.email)"
      (click)="openMoreMenu()">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="hasLeft" (click)="activate()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal backdropDismiss="false" [isOpen]="isArchiveModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ player?.firstName }} {{ player?.lastName }} Archivieren</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissArchiveModal()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Austrittsdatum</ion-label>
          <ion-input type="date" [(ngModel)]="archiveDate"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Notiz</ion-label>
          <ion-textarea [(ngModel)]="archiveNote"></ion-textarea>
        </ion-item>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="archivePlayer()">
            <ion-icon name="archive-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal (ionModalDidDismiss)="isTransferModalOpen = false" backdropDismiss="true" [breakpoints]="[0, 0.5, 1]"
    [initialBreakpoint]="0.5" [isOpen]="isTransferModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ copy ? 'Kopieren' : 'Übertragen' }} von {{ player?.firstName }} {{ player?.lastName
            }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isTransferModalOpen = false">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item-group>
            <ion-item>
              <ion-select (ionChange)="onTenantChange()" label="Ziel-Instanz" [(ngModel)]="tenantId">
                <ion-select-option [value]="tnt.id" *ngFor="let tnt of tenants">{{ tnt.longName }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="tenantId && tenantGroups.length">
              <ion-select label="Ziel-Gruppe" [(ngModel)]="targetGroupId">
                <ion-select-option [value]="grp.id" *ngFor="let grp of tenantGroups">{{ grp.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-item-group>
        </ion-list>
        <ion-button [disabled]="!tenantId || !targetGroupId" (click)="transferPerson()" expand="block">{{
          copy ? 'Kopieren' : 'Übertragen' }}</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="bottom-padding"></div>
</ion-content>