<ion-header>
  <ion-toolbar [color]="player?.isCritical ? 'danger' : ''">
    <ion-title *ngIf="!existingPlayer">Spieler hinzufügen</ion-title>
    <ion-title *ngIf="existingPlayer">Spieler bearbeiten</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-grid *ngIf="player">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Vorname</ion-label>
          <ion-input (ionChange)="onChange()" [(ngModel)]="player.firstName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nachname</ion-label>
          <ion-input (ionChange)="onChange()" [(ngModel)]="player.lastName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="existingPlayer">
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Notizen</ion-label>
          <ion-textarea (ionChange)="onChange()" [(ngModel)]="player.notes"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-accordion-group value="critical" *ngIf="player?.isCritical">
    <ion-accordion value="critical">
      <ion-item slot="header" color="light">
        <ion-label>Problemfall</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item>
          <ion-label>Grund: {{ player.criticalReasonText }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Mit Person gesprochen</h2>
          </ion-label>
          <ion-toggle (ionChange)="onChange()" [(ngModel)]="solved"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="solved">
          <ion-label position="stacked">Anmerkungen</ion-label>
          <ion-textarea rows="3" (ionChange)="onChange()" [(ngModel)]="notes"></ion-textarea>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group *ngIf="player" [value]="existingPlayer ? '' : 'more'">
    <ion-accordion value="more">
      <ion-item slot="header" color="light">
        <ion-label>Allgemeine Infos</ion-label>
      </ion-item>
      <div slot="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Instrument</ion-label>
                <ion-select (ionChange)="onInstrumentChange()" #select [(ngModel)]="player.instrument">
                  <ion-select-option [value]="i.id" *ngFor="let i of instruments">
                    {{ i.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item [color]="!existingPlayer || player.correctBirthday ? '' : 'warning'">
                <ion-label position="stacked">Geburtsdatum</ion-label>
                <ion-input readonly [(ngModel)]="birthdayString" id="date-modal"></ion-input>
                <ion-modal trigger="date-modal">
                  <ng-template>
                    <ion-content>
                      <ion-datetime [max]="max" [(ngModel)]="player.birthday"
                        (ionChange)="onBirthdayChange(); birthdayString = formatDate(dateTimePickerBirthday.value)"
                        presentation="date" #dateTimePickerBirthday></ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Spielt auf dem Instrument seit</ion-label>
                <ion-input readonly [(ngModel)]="playsSinceString" id="plays-modal"></ion-input>
                <ion-modal trigger="plays-modal">
                  <ng-template>
                    <ion-content>
                      <ion-datetime [max]="max" [(ngModel)]="player.playsSince"
                        (ionChange)="onChange(); playsSinceString = formatDate(dateTimePickerPlays.value)"
                        presentation="date" #dateTimePickerPlays></ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Beigetreten am</ion-label>
                <ion-input readonly [(ngModel)]="joinedString" id="joined-modal"></ion-input>
                <ion-modal trigger="joined-modal">
                  <ng-template>
                    <ion-content>
                      <ion-datetime [max]="max" [(ngModel)]="player.joined"
                        (ionChange)="onChange(); joinedString = formatDate(dateTimePickerJoined.value)"
                        presentation="date" #dateTimePickerJoined></ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="showTeachers">
            <ion-col>
              <ion-item>
                <ion-label>Spielt beim Lehrer</ion-label>
                <ion-toggle (ionChange)="onChange()" [(ngModel)]="player.hasTeacher"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="player.hasTeacher && showTeachers">
            <ion-col>
              <ion-item>
                <ion-label>Lehrer</ion-label>
                <ion-select (ionChange)="onChange()" [(ngModel)]="player.teacher">
                  <ion-select-option [value]="teacher.id" *ngFor="let teacher of teachers">
                    {{ teacher.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Stimmführer</ion-label>
                <ion-toggle (ionChange)="onChange()" [(ngModel)]="player.isLeader"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isVoS">
            <ion-col>
              <ion-item>
                <ion-label>Andere Orchester</ion-label>
                <ion-select multiple="true" (ionChange)="onChange()" [(ngModel)]="player.otherOrchestras">
                  <ion-select-option>SoS</ion-select-option>
                  <ion-select-option>GoS</ion-select-option>
                  <ion-select-option>BoS</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Sonstige Dienste</ion-label>
                <ion-input (ionChange)="onChange()" [(ngModel)]="player.otherExercise"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group [value]="existingPlayer && !player?.isCritical ? 'first' : ''" *ngIf="attendance.length">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Historie</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-label>Durchschnitt</ion-label>
            <ion-badge slot="end" [color]="perc ? 'success' : 'danger'">{{ perc }}%</ion-badge>
          </ion-item>
          <ion-item *ngFor="let att of history">
            <ion-label>
              <h2 *ngIf="att.type !== 4">Mit Person gesprochen ({{ att.date | date:'dd.MM.yyyy' }})</h2>
              <h2 *ngIf="att.type === 4">{{ att.date | date:'dd.MM.yyyy' }}</h2>
              <h3 *ngIf="att.type !== 4">{{ getTypeText(att.type) }}: {{ att.text }}</h3>
            </ion-label>

            <ion-badge *ngIf="att.type === 4" slot="end" [color]="att.text === 'X' ? 'success' : att.text === 'A' ? 'danger' : 'warning'">
              {{ att.text }}</ion-badge>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button *ngIf="!existingPlayer" expand="block" (click)="addPlayer()">Spieler hinzufügen</ion-button>
  <ion-button *ngIf="existingPlayer && hasChanges" expand="block" (click)="updatePlayer()">Änderungen speichern
  </ion-button>
  <div class="bottom-padding"></div>
</ion-content>
