ion-modal.dateModal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}

.bottom-padding {
  height: 40px;
  width: auto;
}

#accountHelpButton {
  margin-left: 1rem;
}