.songsModal {
    ion-item-group {
        background: #fff;
    }

    @media (prefers-color-scheme: dark) {
        ion-item-group {
            background: #000;
        }
    }
}

.title {
    margin-bottom: 17px;
}

ion-chip {
    ion-badge {
        margin-left: 8px;
    }
}
