<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="players">{{ attendance?.date | date:'dd.MM.yyyy' }} | {{ getAttendedPlayers(players) }}/{{ players.length }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group (ionChange)="onAccChange()">
    <ion-accordion value="info">
      <ion-item slot="header" color="light">
        <ion-label>Informationen</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item lines="none" *ngIf="attendance">
          <ion-label>Kategorie</ion-label>
          <ion-select [(ngModel)]="attendance.type">
            <ion-select-option value="uebung">Übung</ion-select-option>
            <ion-select-option value="vortrag">Vortrag</ion-select-option>
            <ion-select-option value="sonstiges">Sonstiges</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="attendance?.type === 'sonstiges'">
          <ion-label position="stacked">Probenart</ion-label>
          <ion-input [(ngModel)]="attendance.typeInfo"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Notizen</ion-label>
          <ion-textarea rows="2" [(ngModel)]="attendance.notes"></ion-textarea>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-list class="marginBottom">
    <ion-item-divider>
      <ion-label>Dirigenten ({{ conductors?.length }})</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let con of conductors" (click)="con.isPresent = !con.isPresent">
      <ion-label>
        <h2>{{ con.firstName }} {{ con.lastName }}</h2>
      </ion-label>
      <ion-badge [color]="con.isPresent ? 'success' :'danger'" slot="end">{{ con.isPresent ? '✓' : 'A' }}</ion-badge>
    </ion-item>
    <ion-item-sliding #slider *ngFor="let player of players">
      <ion-item-divider *ngIf="player.firstOfInstrument">
        <ion-label>{{ player.instrumentName }} ({{ getPlayerLengthByInstrument(players, player) }})</ion-label>
      </ion-item-divider>
      <ion-item button detail="false" (click)="onAttChange(player)" >
        <ion-label>
          <h2>{{ player.firstName }} {{ player.lastName }}</h2>
          <h3 *ngIf="playerNotes[player.id]">{{ playerNotes[player.id] }}</h3>
        </ion-label>
        <ion-badge [color]="excused.has(player.id.toString()) ? 'warning' : player.isPresent ? 'success' :'danger'" slot="end">{{ excused.has(player.id.toString()) ? 'E' : player.isPresent ? '✓' : 'A' }}</ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option [style]="player.firstOfInstrument ? 'margin-top: 2.3rem;' : ''" color="warning" (click)="addNote(player, slider)">
          <ion-icon name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="save()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
