<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="players">{{ attendance?.date | date:'dd.MM.yyyy' }} | {{ getAttendedPlayers(players) }}/{{ players.length }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="attendance">
  <ion-accordion-group>
    <ion-accordion value="info">
      <ion-item slot="header" color="light">
        <ion-label>Informationen</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item lines="none">
          <ion-label>Kategorie</ion-label>
          <ion-select (ionChange)="onInfoChanged()" [(ngModel)]="attendance.type">
            <ion-select-option value="uebung">Übung</ion-select-option>
            <ion-select-option value="vortrag">Vortrag</ion-select-option>
            <ion-select-option value="hochzeit">Hochzeit</ion-select-option>
            <ion-select-option value="sonstiges">Sonstiges</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="attendance?.type === 'sonstiges'">
          <ion-label position="stacked">Probenart</ion-label>
          <ion-input (ionBlur)="onInfoChanged()" [(ngModel)]="attendance.typeInfo"></ion-input>
        </ion-item>
        <ion-item *ngIf="attendance?.type === 'vortrag' || attendance?.type === 'sonstiges'">
          <ion-label position="stacked">Werk(e)</ion-label>
          <ion-select (ionChange)="onInfoChanged()" multiple="true" [(ngModel)]="selectedSongs" #select>
            <ion-select-option [value]="song.id" *ngFor="let song of songs">{{ song.number }} {{ song.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Notizen</ion-label>
          <ion-textarea (ionBlur)="onInfoChanged()" rows="2" [(ngModel)]="attendance.notes"></ion-textarea>
        </ion-item>
        <!-- <input style="display: 'none';" name="file" #chooser (change)="onImageSelect($event)" accept="image/*" class="inputFile" type="file" />
        <ion-item>
          <ion-avatar slot="end" *ngIf="attendance.img">
            <img [src]="attendance.img" />
          </ion-avatar>
        </ion-item> -->
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-accordion-group *ngIf="attendance.plan">
    <ion-accordion value="plan">
      <ion-item slot="header" color="light">
        <ion-label>Probenplan</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item lines="none">
          <ion-label>Start</ion-label>
          <ion-badge slot="end">{{ attendance.plan.time }} Uhr</ion-badge>
        </ion-item>
        <ion-item *ngFor="let field of attendance.plan.fields; let i = index">
          <ion-label>
            <h2>{{ field.name }}</h2>
            <h3>{{ calculateTime(field, i) }}</h3>
          </ion-label>
          <ion-badge slot="end">{{ field.time }} min</ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Ende</ion-label>
          <ion-badge slot="end">{{ attendance.plan.end | date:'HH:mm' }} Uhr</ion-badge>
        </ion-item>
        <ion-button (click)="exportPlan()" style="margin-left: '16px'" size="small">Exportieren</ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-list class="marginBottom">
    <ion-item-divider sticky="true">
      <ion-label>Dirigenten ({{ conductors?.length }})</ion-label>
    </ion-item-divider>
    <ion-item button detail="false" *ngFor="let con of conductors; trackBy:userById" (click)="onAttChange(con)">
      <ion-label>
        <h2>{{ con.firstName }} {{ con.lastName }}</h2>
      </ion-label>
      <ion-badge [color]="con.attStatus === 0 ? 'medium' :
                          con.attStatus === 1 ? 'success' :
                          con.attStatus === 2 ? 'warning' :
                          con.attStatus === 3 ? 'tertiary' : 'danger'"
                  slot="end">
                             {{
                               con.attStatus === 0 ? 'N' :
                               con.attStatus === 1 ? '✓' :
                               con.attStatus === 2 ? 'E' :
                               con.attStatus === 3 ? 'L' : 'A' }}
      </ion-badge>
    </ion-item>
    <ng-container *ngFor="let player of players; trackBy:userById">
      <ion-item-divider sticky="true" *ngIf="player.firstOfInstrument">
        <ion-label>{{ player.instrumentName }} ({{ getPlayerLengthByInstrument(players, player) }})</ion-label>
      </ion-item-divider>
      <ion-item-sliding #slider>
        <ion-item button detail="false" (click)="onAttChange(player)">
          <ion-label>
            <h2>{{ player.firstName }} {{ player.lastName }}</h2>
            <h3 *ngIf="!isHelper && playerNotes[player.id]">{{ playerNotes[player.id] }}</h3>
            <h3 *ngIf="isHelper && playerNotes[player.id]">Notiz hinzugefügt</h3>
          </ion-label>
          <ion-badge [color]="player.attStatus === 0 ? 'medium' :
                              player.attStatus === 1 ? 'success' :
                              player.attStatus === 2 ? 'warning' :
                              player.attStatus === 3 ? 'tertiary' : 'danger'"
                     slot="end">
                                {{
                                  player.attStatus === 0 ? 'N' :
                                  player.attStatus === 1 ? '✓' :
                                  player.attStatus === 2 ? 'E' :
                                  player.attStatus === 3 ? 'L' : 'A'
                                }}
          </ion-badge>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="warning" (click)="addNote(player, slider)">
            <ion-icon name="pencil"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>
