<ion-header>
  <ion-toolbar>
    <ion-title>Probenplan erstellen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item [lines]="attendance && notes ? '' : 'none'" *ngIf="attendances.length">
      <ion-select interface="modal" label="Zugehörige Anwesenheit"
        (ionChange)="onAttChange()" [(ngModel)]="attendance">
        <ion-select-option [value]="att.id" *ngFor="let att of attendances">{{ att.date | date:'dd.MM.yyyy' }} {{
          this.getAttTypeText(att.type, att.typeInfo) }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" *ngIf="attendance && notes">
      <ion-label position="stacked">Anwesenheitsnotizen</ion-label>
      <ion-textarea autoGrow="true" disabled="true">{{ notes }}</ion-textarea>
    </ion-item>
  </ion-card>

  <ion-list-header>
    <ion-label>Ablauf</ion-label>
    <ion-button id="add-trigger" fill="clear">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-popover #addPopover trigger="add-trigger" triggerAction="click">
      <ng-template>
        <ion-item (click)="addExtraField(addPopover)">
          <ion-label>Feld hinzufügen</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="songs.length">
          <ion-select [interfaceOptions]="customModalOptions" interface="modal" label="Werk hinzufügen" multiple="false"
            (ionDismiss)="onAddSong($event.target.value, addPopover)">
            <ion-select-option [value]="song.id.toString()" *ngFor="let song of songs">{{ song.number }} {{ song.name
              }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ng-template>
    </ion-popover>
  </ion-list-header>

  <ion-item>
    <ion-label>Start</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime (ionChange)="calculateEnd()" [(ngModel)]="time" presentation="time" id="datetime" [formatOptions]="{
                      time: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                      }
                    }"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-list>
    <ion-reorder-group disabled="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item-sliding #slider *ngFor="let field of selectedFields; let i = index">
        <ion-item>
          <ion-label (click)="changeField(field)">
            <h2>{{ field.name }}</h2>
            <h3>{{ calculateTime(field, i) }}</h3>
          </ion-label>
          <ion-input style="width: 3rem;" (ionBlur)="calculateEnd()" [(ngModel)]="field.time" placeholder="min"
            type="number" slot="end"></ion-input>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item-options (ionSwipe)="removeField(i, slider)">
          <ion-item-option expandable color="danger" (click)="removeField(i, slider)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>

  <ion-item class="marginBottom" *ngIf="end">
    <ion-label>Ende</ion-label>
    <ion-datetime-button datetime="datetimeend"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime disabled="true" [(ngModel)]="end" presentation="time" id="datetimeend" [formatOptions]="{
                      time: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                      }
                    }">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-modal [isOpen]="isPlanModalOpen" #planModal trigger="trigger-button" [breakpoints]="[0.5]"
    [initialBreakpoint]="0.5">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-title>Plan erstellen</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-item>
          <ion-select label="Dirigenten" [(ngModel)]="selConductors" #select multiple="true">
            <ion-select-option [value]="con.id" *ngFor="let con of conductors">{{ con.firstName }} {{ con.lastName
              }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Zeit in Minuten</ion-label>
          <ion-input value="60" #input type="number"></ion-input>
        </ion-item>
        <ion-button [disabled]="!select.value?.length || !input.value"
          (click)="createPlan(select.value, input.value, planModal)" expand="block">Exportieren</ion-button>
        <ion-button *ngIf="db.tenantUser().telegram_chat_id" [disabled]="!select.value?.length || !input.value"
          (click)="createPlan(select.value, input.value, planModal, true)" expand="block">Per Telegram
          senden</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="showOptions()">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>