<ion-header>
  <ion-toolbar>
    <ion-title>Probenplan erstellen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item *ngIf="attendances.length">
      <ion-select interface="modal" label="Zugehörige Anwesenheit" (ionChange)="onAttChange()" [(ngModel)]="attendance">
        <ion-select-option [value]="att.id" *ngFor="let att of attendances">{{ att.date | date:'dd.MM.yyyy' }} {{
          this.getAttTypeText(att.type, att.typeInfo) }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="attendance && notes">
      <ion-label position="stacked">Anwesenheitsnotizen</ion-label>
      <ion-textarea autoGrow="true" disabled="true">{{ notes }}</ion-textarea>
    </ion-item>
  </ion-card>

  <ion-list-header>
    <ion-label>Ablauf</ion-label>
    <ion-button id="add-trigger" fill="clear">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-popover #addPopover trigger="add-trigger" triggerAction="click">
      <ng-template>
        <ion-item (click)="addExtraField()">
          <ion-label>Feld hinzufügen</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="songs.length">
          <ion-select interface="modal" label="Werk hinzufügen" multiple="false"
            (ionDismiss)="onAddSong($event.target.value, addPopover)">
            <ion-select-option [value]="song.id.toString()" *ngFor="let song of songs">{{ song.number }} {{ song.name
              }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ng-template>
    </ion-popover>
  </ion-list-header>

  <ion-item>
    <ion-label>Start</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime (ionChange)="calculateEnd()" [(ngModel)]="time" presentation="time" id="datetime" [formatOptions]="{
                      time: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                      }
                    }"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-list>
    <ion-reorder-group disabled="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item-sliding #slider *ngFor="let field of selectedFields; let i = index">
        <ion-item>
          <ion-label (click)="changeField(field)">
            <h2>{{ field.name }}</h2>
            <h3>{{ calculateTime(field, i) }}</h3>
          </ion-label>
          <ion-input style="width: 3rem;" (ionBlur)="calculateEnd()" [(ngModel)]="field.time" placeholder="min"
            type="number" slot="end"></ion-input>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item-options (ionSwipe)="removeField(i, slider)">
          <ion-item-option expandable color="danger" (click)="removeField(i, slider)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>

  <ion-item class="marginBottom" *ngIf="end">
    <ion-label>Ende</ion-label>
    <ion-datetime-button datetime="datetimeend"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime disabled="true" [(ngModel)]="end" presentation="time" id="datetimeend" [formatOptions]="{
                      time: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                      }
                    }">
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngIf="attendances.length && attendance" (click)="addToAttendance()"
        [disabled]="!selectedFields.length">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [disabled]="!selectedFields.length" (click)="export()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="hasChatId" [disabled]="!selectedFields.length" (click)="send()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>