<ion-header>
  <ion-toolbar>
    <ion-title>Lehrer bearbeiten</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="editedTeacher.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select interface="modal" label="Instrumente" [(ngModel)]="editedTeacher.instruments" multiple="true">
      <ion-select-option [value]="ins.id" *ngFor="let ins of db.groups()">{{ ins.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-toggle label="Privatlehrer" [(ngModel)]="editedTeacher.private">Privatlehrer</ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kontakt</ion-label>
    <ion-input [(ngModel)]="editedTeacher.number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Notizen</ion-label>
    <ion-textarea [(ngModel)]="editedTeacher.notes"></ion-textarea>
  </ion-item>
  <ion-accordion-group value="players" *ngIf="playersFromTeacher?.length">
    <ion-accordion value="players">
      <ion-item class="accordion-header" slot="header">
        <ion-label>Spieler</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item *ngFor="let player of playersFromTeacher">
            <ion-label>{{ player.firstName }} {{ player.lastName }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-button expand="block" (click)="editTeacher()" >Lehrer updaten</ion-button>
</ion-content>
