<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-title>Mehr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Mehr</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="isAdmin" [inset]="true">
    <ion-list-header>
      <ion-label>Allgemein</ion-label>
    </ion-list-header>
    <ion-item-group>
      <ion-item [routerLink]="['/tabs/settings/general']" button lines="none">
        <ion-icon name="cog-outline" slot="start"></ion-icon>
        <ion-label>Einstellungen</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true" *ngIf="!isGeneral && !isApplicant">
    <ion-list-header><ion-label>Werke & Proben</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item *ngIf="!isGeneral" routerLink="songs" button>
        <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
        <ion-label>Werke</ion-label>
      </ion-item>
      <ion-item detail="false" *ngIf="!isGeneral && (isAdmin || isHelper)" button (click)="openHistoryModal()">
        <ion-icon name="library-outline" slot="start"></ion-icon>
        <ion-label>
          Werkhistorie
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail="false" *ngIf="!isGeneral && isAdmin" button (click)="openPlanning()">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>
          Ablaufpläne
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true" *ngIf="isAdmin">
    <ion-list-header><ion-label>Organisation</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item id="pending-button" *ngIf="pendingPersons.length && isAdmin">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label>
          Ausstehende Personen
        </ion-label>
        <ion-badge slot="end" color="warning">{{ pendingPersons.length }}</ion-badge>
        <ion-modal trigger="pending-button" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
          <ng-template>
            <ion-content color="light">
              <ion-header>
                <ion-toolbar>
                  <ion-title>Ausstehende Personen</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-list [inset]="true">
                <ion-item-group>
                  <ion-item detail="false" button (click)="openApprovePersonModal(p)" *ngFor="let p of pendingPersons">
                    <ion-label>
                      <h2>{{ p.firstName }} {{ p.lastName }}</h2>
                      <h3>{{ p.email }}</h3>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item id="churches-button" *ngIf="db.isBeta()">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>
          Gemeinden
        </ion-label>
        <ion-modal trigger="churches-button" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
          <ng-template>
            <ion-content color="light">
              <ion-header>
                <ion-toolbar>
                  <ion-title>Gemeinden</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-list [inset]="true">
                <ion-item-group>
                  <ion-item *ngFor="let c of churches">
                    <ion-label>
                      <h3>{{ c.name }}</h3>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
              </ion-list>
            </ion-content>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button (click)="openChurchInput()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item *ngIf="!db.isDemo() && isSuperAdmin" detail="false" button id="admins-button">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label>
          Administratoren
        </ion-label>
        <ion-modal trigger="admins-button" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
          <ng-template>
            <ion-content color="light">
              <ion-header>
                <ion-toolbar>
                  <ion-title>Administratoren</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-card class="marginTop">
                <ion-card-header>
                  <ion-icon class="headerIcon" name="key-outline"></ion-icon>
                </ion-card-header>
                <ion-card-content>
                  Administratoren haben alle Rechte in der Instanz. Administratoren werden nicht in der Anwesenheit
                  berücksichtigt können aber zusätzlich als Person hinzugefügt werden.<br><br><ion-label
                    color="danger">ACHTUNG: Administratoren können die Instanz auch unwiderruflich löschen!</ion-label>
                </ion-card-content>
              </ion-card>

              <ion-list [inset]="true">
                <ion-item-group>
                  <ion-item detail="false" button (click)="removeAdmin(a)" *ngFor="let a of admins">
                    <ion-label>
                      <h3>{{ a.email }}</h3>
                      <h4>Erstellt am: {{ a.created_at | date: 'dd.MM.yyyy' }}</h4>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
              </ion-list>
            </ion-content>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button (click)="openAdminsAlert()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item routerLink="meetings" button>
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        <ion-label>
          Besprechungen
        </ion-label>
      </ion-item>
      <ion-item routerLink="instruments" button>
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>
          Gruppen
        </ion-label>
      </ion-item>
      <ion-item *ngIf="db.organisation()" button routerLink="handover">
        <ion-icon name="walk-outline" slot="start"></ion-icon>
        <ion-label>
          Personenübergabe
        </ion-label>
      </ion-item>
      <ion-item routerLink="teachers" *ngIf="maintainTeachers" button>
        <ion-icon name="school-outline" slot="start"></ion-icon>
        <ion-label>
          Lehrer
        </ion-label>
      </ion-item>
      <ion-item *ngIf="parentsEnabled" detail="false" button id="parents-button">
        <ion-icon name="footsteps-outline" slot="start"></ion-icon>
        <ion-label>
          Eltern
        </ion-label>
        <ion-modal trigger="parents-button" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
          <ng-template>
            <ion-content>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Eltern</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-card class="marginTop">
                <ion-card-header>
                  <ion-icon class="headerIcon" name="footsteps-outline"></ion-icon>
                </ion-card-header>
                <ion-card-content>
                  Eltern können die Anwesenheiten ihrer Kinder einsehen und Abwesenheiten pflegen.
                </ion-card-content>
              </ion-card>

              <ion-list [inset]="true">
                <ion-item-group>
                  <ion-item button (click)="removeParent(p)" *ngFor="let p of parents">
                    <ion-label>
                      <h2>{{ p.firstName }} {{ p.lastName }}</h2>
                      <h3>{{ p.email }}</h3>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
              </ion-list>
            </ion-content>
            <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button (click)="openParentsAlert()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item lines="none" *ngIf="isAdmin" detail="false" button id="viewer-button">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>
          Beobachter
        </ion-label>
        <ion-modal trigger="viewer-button" [breakpoints]="[0, 1]" [initialBreakpoint]="1">
          <ng-template>
            <ion-content color="light">
              <ion-header>
                <ion-toolbar>
                  <ion-title>Beobachter</ion-title>
                </ion-toolbar>
              </ion-header>

              <ion-card class="marginTop">
                <ion-card-header>
                  <ion-icon class="headerIcon" name="eye-outline"></ion-icon>
                </ion-card-header>
                <ion-card-content>
                  Beobachter haben nur Leserechte auf eine beschränkte Anzahl von Daten. Sie sehen nur die
                  Anwesenheitsübersicht und die Daten der Personen. Beobachter werden nicht in der Anwesenheit
                  berücksichtigt.<br><br><ion-label color="danger">ACHTUNG: Beobachter können auch personenbezogene
                    Daten
                    sehen!</ion-label>
                </ion-card-content>
              </ion-card>

              <ion-list [inset]="true">
                <ion-item-group>
                  <ion-item detail="false" button (click)="removeViewer(v)" *ngFor="let v of viewers">
                    <ion-label>
                      <h2>{{ v.firstName }} {{ v.lastName }}</h2>
                      <h3>{{ v.email }}</h3>
                    </ion-label>
                  </ion-item>
                </ion-item-group>
              </ion-list>
            </ion-content>
            <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button (click)="openViewerAlert()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true" *ngIf="!isApplicant">
    <ion-list-header><ion-label>Daten & Auswertung</ion-label></ion-list-header>
    <ion-item-group>
      @if (userData) {
      <ion-item id="master-data-button" button detail="false">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>
          Meine Stammdaten
        </ion-label>
        <ion-modal trigger="master-data-button" [breakpoints]="[0, .9]" [initialBreakpoint]="0.9">
          <ng-template>
            <ion-content color="light">
              <ion-header>
                <ion-toolbar>
                  <ion-title>Meine Stammdaten</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-list [inset]="true">
                <ion-item-group>
                  <ion-item button lines="none" (click)="changeImg()">
                    <input style="display: none;" name="file" #imgChooser (change)="onImageSelect($event)"
                      accept="image/*" type="file" />
                    <ion-label>Passbild</ion-label>
                    <ion-avatar slot="end">
                      <img [src]="userData.img" />
                    </ion-avatar>
                    <ion-modal (ionModalDidDismiss)="isImageViewerOpen = false" [isOpen]="isImageViewerOpen"
                      [breakpoints]="[0, 0.8]" [initialBreakpoint]="0.8">
                      <ng-template>
                        <ion-content>
                          <ion-img [src]="userData.img"></ion-img>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Vorname</ion-label>
                    <ion-input [(ngModel)]="userData.firstName" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Nachname</ion-label>
                    <ion-input [(ngModel)]="userData.lastName" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Handynummer</ion-label>
                    <ion-input [(ngModel)]="userData.phone" type="tel"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Geburtsdatum</ion-label>
                    <ion-datetime-button datetime="birthday-master-data"></ion-datetime-button>
                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime id="birthday-master-data" locale="de-DE" [firstDayOfWeek]="1" [max]="max"
                          [(ngModel)]="userData.birthday" presentation="date"></ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </ion-item>
                  @if (hasChurches() && false) {
                  <ion-item>
                    <ion-select label="Gemeinde" interface="modal"
                      [(ngModel)]="userData.additional_fields['bfecg_church']">
                      <ion-select-option *ngFor="let church of db.churches()" [value]="church.id">{{ church.name
                        }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  }
                </ion-item-group>
                <ion-item-group>
                  <ion-item (click)="updateUserData()" button detail="false">
                    <ion-label color="primary">Speichern</ion-label>
                  </ion-item>
                </ion-item-group>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      }
      <ion-item (click)="openCalendarSubscription()" detail="false" button>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>
          Termine als Kalender abonnieren
        </ion-label>
      </ion-item>
      <ion-item *ngIf="isAdmin" detail="false" button id="archive-button">
        <ion-icon name="archive-outline" slot="start"></ion-icon>
        <ion-label>
          Archiv
        </ion-label>
        <ion-modal trigger="archive-button" [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]="0.5">
          <ng-template>
            <ion-content>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Archiv</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-list>
                <ion-item button (click)="openPlayerModal(p)" *ngFor="let p of leftPlayers">
                  <ion-label>
                    <h2>{{ p.firstName }} {{ p.lastName }} ({{ p.groupName }})</h2>
                    <h3>Ausgetreten: {{ p.left | date:"dd.MM.YYYY" }}</h3>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item *ngIf="isAdmin" detail="false" button (click)="openStats()">
        <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
        <ion-label>
          Statistiken
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail="false" *ngIf="isAdmin" button (click)="openExport()">
        <ion-icon name="download-outline" slot="start"></ion-icon>
        <ion-label>
          Export
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>System</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item (click)="isInstancesModalOpen = true" button detail="false">
        <ion-icon name="apps-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Instanzen</h2>
          <h3>Aktuell: {{ db.tenant().longName }}</h3>
        </ion-label>
      </ion-item>

      @if (isAdmin || isHelper || isPlayer) {
      <ion-item routerLink="notifications">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>
          Benachrichtigungen
        </ion-label>
      </ion-item>
      }

      <ion-item detail="false" button *ngIf="isAdmin && playersWithoutAccount.length"
        (click)="showAlertForAccountsCreation()">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Fehlende Benutzeraccounts anlegen</ion-label>
      </ion-item>

      <ion-item detail="false" button id="feedback-button">
        <ion-icon name="help-outline" slot="start"></ion-icon>
        <ion-label>Hilfe/Feedback</ion-label>
        <ion-modal #feedbackModal trigger="feedback-button" [breakpoints]="[0, .9, 1]" [initialBreakpoint]=".9">
          <ng-template>
            <ion-content color="light">
              <ion-header>
                <ion-toolbar>
                  <ion-title>Hilfe/Feedback</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-list [inset]="true">
                <ion-item-group>
                  <ion-item button detail="false" (click)="openTelegramSupport()">
                    <ion-icon color="primary" name="send-outline" slot="start"></ion-icon>
                    <ion-label color="primary">
                      Per Telegram kontaktieren
                    </ion-label>
                  </ion-item>
                </ion-item-group>

                <ion-text color="medium">
                  <p [style.textAlign]="'center'">oder</p>
                </ion-text>

                <ion-item-group>
                  <ion-segment>
                    <ion-segment-button value="help" content-id="help">
                      <ion-label>Hilfe/Frage</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="feedback" content-id="feedback">
                      <ion-label>Feedback</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-item-group>
                <ion-segment-view>
                  <ion-segment-content id="help">
                    <ion-item-group>
                      <ion-item>
                        <ion-label position="stacked">Deine Frage</ion-label>
                        <ion-textarea placeholder="Deine Frage eingeben..." [(ngModel)]="helpQuestion"
                          rows="6"></ion-textarea>
                      </ion-item>

                      <ion-item>
                        <ion-label position="stacked">Deine Handynummer (optional)</ion-label>
                        <ion-input helperText="Dient nur zur Kontaktaufnahme bei Rückfragen" type="tel" placeholder="Handynummer eingeben..."
                          [(ngModel)]="feedbackPhone"></ion-input>
                      </ion-item>
                    </ion-item-group>

                    <ion-item-group>
                      <ion-item detail="false" button (click)="sendQuestion(feedbackModal)">
                        <ion-label color="primary">Absenden</ion-label>
                      </ion-item>
                    </ion-item-group>
                  </ion-segment-content>
                  <ion-segment-content id="feedback">
                    <ion-item-group>
                      <ion-item>
                        <ion-label>Deine Bewertung</ion-label>
                        @for (rating of [1,2,3,4,5]; track rating) {
                        <ion-icon name="star" [color]="rating <= feedbackRating ? 'warning' : 'medium'" slot="end"
                          (click)="feedbackRating = rating"></ion-icon>
                        }
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Dein Feedback</ion-label>
                        <ion-textarea placeholder="Dein Feedback eingeben..." [(ngModel)]="feedbackText"
                          rows="6"></ion-textarea>
                      </ion-item>

                      <ion-item>
                        <ion-toggle label="Anonym" [(ngModel)]="anonymous">Anonym</ion-toggle>
                      </ion-item>

                      @if (!anonymous) {
                      <ion-item>
                        <ion-label position="stacked">Deine Handynummer (optional)</ion-label>
                        <ion-input helperText="Dient nur zur Kontaktaufnahme bei Rückfragen" type="tel" placeholder="Handynummer eingeben..."
                          [(ngModel)]="feedbackPhone"></ion-input>
                      </ion-item>
                      }
                    </ion-item-group>

                    <ion-item-group>
                      <ion-item detail="false" button (click)="sendFeedback(feedbackModal)">
                        <ion-label color="primary">Absenden</ion-label>
                      </ion-item>
                    </ion-item-group>
                  </ion-segment-content>
                </ion-segment-view>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item button detail="false" id="whatsnew-button">
        <ion-icon name="git-branch-outline" slot="start"></ion-icon>
        <ion-label>
          Version
        </ion-label>
        <ion-badge slot="end">{{ version }}</ion-badge>
        <ion-modal trigger="whatsnew-button" [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]="0.5">
          <ng-template>
            <ion-content>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Was ist neu?</ion-title>
                </ion-toolbar>
              </ion-header>

              <ion-list>
                <ion-list-header>Version 3.5.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Schichtpläne sind da! Automatisiere die Planung und Verwaltung deiner Schichten für mehr
                      Effizienz.</h2>
                    <h2>- Anmeldefristen: Setze Anmeldefristen für Termine fest, um eine bessere Organisation zu
                      gewährleisten.</h2>
                    <h2>- Anwesenheits-Export (Excel): Exportiere einzelne Anwesenheiten für eine bessere Auswertung und
                      Archivierung.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 3.4.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Anwesenheits-Typen sind da! Definiere verschiedene Arten von Anwesenheiten für mehr
                      Flexibilität. Gehe dazu einfach in den allgemeinen Einstellungen auf Anwesenheits-Typen. Die
                      Standard typen sind immer noch vorhanden und können weiterhin genutzt werden.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 3.3.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebung: Benutzer ohne zugewiesener Instanz können wieder einer zugewiesen werden.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 3.3.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Die Werkdatenbank ist da! Füge jetzt einfach deine Dateien zu den Werken hinzu und ordne sie
                      automatisch den Instrumenten zu.</h2>
                    <h2>- Neu: Verbesserte Benutzeroberfläche für die Werkverwaltung</h2>
                    <h2>- Werke können jetzt als externe Links geteilt werden, auch für Benutzer ohne Account.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 3.2.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Organisationen sind da! Füge jetzt deine Instanzen einer Organisation hinzu, um die Verwaltung
                      zu erleichtern. (Personendaten können übernommen werden und zu anderen Instanzen
                      kopiert/verschoben
                      werden)</h2>
                    <h2>- Sobald ein bestehender Account zu einer Instanz hinzugefügt wird, wird der Benutzer per E-Mail
                      benachrichtigt.</h2>
                    <h2>- Neues Apple Design für die Benutzeroberfläche</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 3.1.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Es können nun mehrere Anwesenheiten gleichzeitig angelegt werden</h2>
                    <h2>- Der Kalender beim erstellen von Anwesenheiten wurde verbessert (farbliche Anpassungen)</h2>
                    <h2>- Feiertage/Schulferien können nun berücksichtigt werden</h2>
                    <h2>- Lehrerpflege für Orchester</h2>
                    <h2>- Neue Anordnung bei den Personen-Informationen</h2>
                    <h2>- Instanzeinstellungen optimiert</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 3.0.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Anwesenheiten werden ab jetzt pro Person gespeichert</h2>
                    <h2>- Die Anwesenheit pro Person kann einfach in der Personenliste angezeigt werden</h2>
                    <h2>- Dirigenten sind nicht mehr separiert</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 2.1.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Neue Sortierfunktion: Nach anstehenden Geburtstagen sortieren</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 2.1.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Beta Funktion: Neue Speichermethode für Anwesenheiten</h2>
                    <h2>- Neutral-Status: Lege den Status beim Anlegen der Anwesenheit fest</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 2.0.3</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 2.0.2</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen für das parallele Arbeiten</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 2.0.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Demo Login möglich</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 2.0.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Attendix</h2>
                    <h3>Verwalte alle Anwesenheiten in einer App!</h3>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.8.3</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Werke können direkt Vorträgen zugeordnet werden</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.8.2</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Neue Spieler werden zu Anwesenheiten ab Eintrittsdatum hinzugefügt</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.8.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Benutzer mit bestehendem Konto konnten nicht archiviert werden</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.8.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Die Anwesenheitsliste wird jetzt in Echtzeit aktualisiert</h2>
                    <h2>- Echtzeit Anwesenheit: Fehler bei gleichzeitiger Nutzung behoben</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.9</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.8</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Probenplan minütlich planbar</h2>
                    <h2>- Fehlerbehebungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.7</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Pausieren von Dirigenten möglich</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.6</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Export Bug gefixt</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.5</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Echtzeit-Anwesenheit ab jetzt standard</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.4</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen beim Beobachter</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.3</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Anzahl zu spät gekommen bei Spielern sichtbar</h2>
                    <h2>- Kleinere Verbesserungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.2</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Werkhistorie: Mehrere Werke auf einmal</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Spieler/Sänger können eine Helfer Rolle bekommen um die Anwesenheit zu pflegen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.7.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Anwesenheit wird in Echtzeit aktualisiert</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.18</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Beobachter können eingesehen und entfernt werden</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.17</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Performance und Fehlerbehebungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.16</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen (Probenplan Export & Versand)</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.15</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen (Anwesenheit einzelner Personen wurde nicht angezeigt)</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.14</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Benachrichtigung, wenn update da ist.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.13</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- UI für Abwesenheit angepasst.</h2>
                    <h2>- Bug fix beim Schließen von einer Anwesenheit.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.12</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- UI für Abmeldungen bei den Spielern verändert.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.11</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Neutraler Status hinzugefügt und Spieler können sich für Vorträge anmelden.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.10</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehler behoben</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.9</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Dropdown für Gründe beim Abmelden hinzugefügt</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.8</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Telegram Bot meldet jetzt <br>auch Zuspätkommer.</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.7</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.6</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Personen können sich jetzt<br>zum Zuspätkommen abmelden.</h2>
                    <br>
                    <h2>- Fehlerbehebungen und <br>Rechtschreibkorrektur</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.5</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Alter der Person in der Listenansicht</h2>
                    <h2>- Gesamte Notiz in der Historie per Klick einsehbar</h2>
                    <h2>- Fehlerbehebungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.4</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.3</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Saisonbeginn definierbar</h2>
                    <h2>- Probenzeiten definierbar</h2>
                    <h2>- Probenanzahl je Werk in Historie</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.2</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Offline Warnung bei der Anwesenheit</h2>
                    <h2>- Performance Verbesserungen</h2>
                    <h2>- Fehlerbehebungungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Fehlerbehebungungen</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.6.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Chor & Orchester App zusammengeführt</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.5.3</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Dirigenten werden immer als Entschuldigt angezeigt</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.5.2</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Probenplanung: Ältere Anwesenheiten sind nun auch auswählbar</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.5.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- VoS: Spieler können als Prüflinge markiert werden</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.5.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Beobachterrolle hinzugefügt</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.4.5</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Anderer Dirigent bei Historie eingebbar</h2>
                    <h2>- Mehrfachauswahl der Werke bei Probenplanung möglich</h2>
                    <h2>- Uhrzeit bei Probenplan-Punkten ersichtlich</h2>
                    <h2>- Anwesenheitsnotizen im Probenplan ersichtlich</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.4.4</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Probenplan export vergrößert</h2>
                    <h2>- Wort als erster Eintrag im Probenplan</h2>
                    <h2>- Probenplan: Bei Freitexteingabe in Klammern Dirigent mit eingebbar z.B. Wort (Max Mustermann)
                    </h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.4.3</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Senden der Pläne per Telgram möglich</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.4.2</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Leseansicht und Export für Probenpläne in der Anwesenheit</h2>
                    <h2>- Probenplan zu Anwesenheit zuteilbar</h2>
                    <h2>- Pull to refresh für Anwesenheit und Spieler eingebaut</h2>
                    <h2>- Fehlerbehebung: Aktuelle Anwesenheit löschbar</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.4.1</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Datumsauswahl schließt automatisch</h2>
                    <h2>- Email Template angepasst</h2>
                    <h2>- Fehlerbehebung: Instrumente nicht editierbar</h2>
                  </ion-label>
                </ion-item>
                <ion-list-header>Version 1.4.0</ion-list-header>
                <ion-item>
                  <ion-label>
                    <h2>- Probenplanung hinzugefügt</h2>
                    <h2>- Werk aus Historie löschbar</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item lines="none" color="danger" button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Ausloggen</ion-label>
      </ion-item>

    </ion-item-group>
  </ion-list>

  <ion-fab *ngIf="isIos" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="isInstancesModalOpen = true">
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal (ionModalDidDismiss)="isInstancesModalOpen = false" #instancesModal [isOpen]="isInstancesModalOpen"
    [breakpoints]="[0, 0.5, 1]" [initialBreakpoint]=".5">
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="openCreateInstanceModal(instancesModal)">
                <ion-icon name="add-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Instanzen ({{ db.tenants()?.length }})</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="isInstancesModalOpen = false">
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-list>
          <ion-item-sliding *ngFor="let tenant of db.tenants()" #sliding>
            <ion-item detail="false" button (click)="onTenantChange(tenant.id, instancesModal)">
              <ion-label>
                <h2>{{ tenant.shortName }}</h2>
                <h3>{{ tenant.longName }}</h3>
              </ion-label>
              <ion-badge [style.marginRight.px]="5" *ngIf="db.tenant().id === tenant.id"
                color="primary">Aktuell</ion-badge>
              <ion-icon size="small" color="warning" *ngIf="tenant.favorite" slot="end" name="star"></ion-icon>
            </ion-item>
            <ion-item-options (ionSwipe)="setInstanceAsFavorite(tenant, sliding)" side="end">
              <ion-item-option (click)="deleteInstance(tenant, sliding, instancesModal)" color="danger">
                <ion-icon size="small" slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option (click)="setInstanceAsFavorite(tenant, sliding)" color="warning">
                <ion-icon size="small" slot="icon-only" [name]="tenant.favorite ? 'star-outline' : 'star'"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>