ion-card-subtitle {
    margin-left: 1.5rem;
}

.md ion-card-subtitle {
    margin-left: .6rem;
    margin-bottom: .2rem;
}

ion-card {
    margin-top: 0;
}

.md .general-settings {
    margin-top: 1rem;
}