ion-card-title {
    font-weight: 200; 
    font-size: 1.3em;
    margin-bottom: 0.1em;
}

ion-card-subtitle {
    font-size: 0.95em;
}

ion-label {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}