<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/settings/general"></ion-back-button>
    </ion-buttons>
    <ion-title>Schichtpläne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Schichtpläne</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-icon class="headerIcon" name="time-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      Pflege Schichtpläne um automatisiert Personen bei Anwesenheiten zu entschuldigen wenn diese aufgrund von Schichten
      nicht verfügbar sind. Du kannst verschiedene Schichtpläne anlegen und diese dann den Personen zuweisen.
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Schichtpläne</ion-label></ion-list-header>
    <ion-item-group>
      <ion-item [routerLink]="['/tabs/settings/general/shifts', shift.id]" *ngFor="let shift of db.shifts()">
        <ion-label>{{ shift.name }}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-shift-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-modal #addShiftModal [breakpoints]="[0, 0.7]" [initialBreakpoint]="0.7" trigger="add-shift-button">
      <ng-template>
        <ion-header>
          <ion-toolbar color="light">
            <ion-title>Schichtplan erstellen</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content color="light">
          <ion-list [inset]="true">
            <ion-item-group>
              <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input [(ngModel)]="newShiftName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Beschreibung</ion-label>
                <ion-input [(ngModel)]="newShiftDescription"></ion-input>
              </ion-item>
            </ion-item-group>

            <ion-button [style]="{'margin-top': '10px'}" expand="block" (click)="createShift(addShiftModal)">Erstellen</ion-button>
          </ion-list>

        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-fab>
</ion-content>