<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/settings/general"></ion-back-button>
    </ion-buttons>
    <ion-title>Schichtpläne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Schichtpläne</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-icon class="headerIcon" name="time-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      Pflege Schichtpläne um automatisiert Personen bei Anwesenheiten zu entschuldigen wenn diese aufgrund von Schichten
      nicht verfügbar sind. Du kannst verschiedene Schichtpläne anlegen und diese dann den Personen zuweisen. Personen werden nur dann als "entschuldigt" markiert, wenn sie einer Schicht zugewiesen sind und die Schicht zur Zeit des Termins stattfindet. Die Notiz "Schichtbedingt" wird dann automatisch bei der Anwesenheit hinzugefügt.<br><br>
      <ion-label color="warning">WICHTIG: Die Anwesenheiten der Personen werden immer nach dem Anlegen einer neuen Anwesenheit und beim Zuweisen eines Schichtplans einer Person aktualisiert.</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Schichtpläne</ion-label></ion-list-header>
    <ion-item-group>
      @if (db.shifts() && db.shifts().length > 0) {
        @for (shift of db.shifts(); track trackByShiftId($index, shift)) {
          <ion-item [routerLink]="['/tabs/settings/general/shifts', shift.id]">
            <ion-label>{{ shift.name }}</ion-label>
          </ion-item>
        }
      } @else {
        <ion-item>Keine Schichtpläne vorhanden.</ion-item>
      }
    </ion-item-group>

    <!-- <ion-item-group>
    <ion-item button>
      Schichtplan aus anderer Instanz übernehmen
    </ion-item>
  </ion-item-group> -->
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button id="add-shift-button">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-modal #addShiftModal [breakpoints]="[0, 0.7]" [initialBreakpoint]="0.7" trigger="add-shift-button">
    <ng-template>
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>Schichtplan erstellen</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item-group>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input [(ngModel)]="newShiftName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Beschreibung</ion-label>
              <ion-input [(ngModel)]="newShiftDescription"></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-button [style]="{'margin-top': '10px'}" expand="block" (click)="createShift(addShiftModal)">Erstellen</ion-button>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-fab>
</ion-content>