<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="players">{{ attendance?.date | date:'dd.MM.yyyy' }} | {{ getAttendedPlayers(players) }}/{{
      players.length }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="attendance">
  <ion-accordion-group>
    <ion-accordion value="info">
      <ion-item slot="header" color="light">
        <ion-label>Informationen</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item lines="none">
          <ion-label>Typ</ion-label>
          <ion-badge slot="end">{{ getTypeName(attendance.type_id) }}</ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Info-Text</ion-label>
          <ion-input (ionBlur)="onInfoChanged()" [(ngModel)]="attendance.typeInfo"></ion-input>
        </ion-item>
        <ion-list
          *ngIf="manageSongs">
          <ion-list-header>
            <ion-label>Werke</ion-label>
            <ion-button id="add-his-button">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-modal #addHisModal trigger="add-his-button" [breakpoints]="[0, 0.7]" [initialBreakpoint]="0.7">
              <ng-template>
                <ion-content>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Werk(e) hinzufügen</ion-title>
                    </ion-toolbar>
                  </ion-header>
                  <ion-item>
                    <ion-select interface="modal" label="Werk(e)" multiple="true" [(ngModel)]="selectedSongs" #select>
                      <ion-select-option [value]="song.id" *ngFor="let song of songs">{{ song.number }} {{ song.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-select label="Dirigent" (ionChange)="onConChange()" [(ngModel)]="historyEntry.person_id"
                      #select multiple="false">
                      <ion-select-option [value]="con.id" *ngFor="let con of activeConductors">{{ con.firstName }} {{
                        con.lastName }}
                      </ion-select-option>
                      <ion-select-option [value]="otherConductor">Anderer Dirigent</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item *ngIf="historyEntry.person_id === otherConductor && historyEntry.otherConductor">
                    <ion-input [(ngModel)]="historyEntry.otherConductor"></ion-input>
                  </ion-item>
                  <ion-button (click)="addSongsToHistory(addHisModal)" expand="block">Hinzufügen</ion-button>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-list-header>
          <ion-item *ngFor="let entry of historyEntries">
            <ion-label>
              <h2>{{ getSongInfo(entry) }}</h2>
              <h3>{{ getConductorInfo(entry) }}</h3>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="removeHistoryEntry(entry.id)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>

        <ion-item lines="none">
          <ion-label position="stacked">Notizen</ion-label>
          <ion-textarea (ionBlur)="onInfoChanged()" autoGrow="true" [(ngModel)]="attendance.notes"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label>Beginn</ion-label>
          <ion-datetime-button datetime="datetimestartatt"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime (ionBlur)="onInfoChanged()" [(ngModel)]="attendance.start_time" presentation="time"
                minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" id="datetimestartatt" [formatOptions]="{
                      time: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                      }
                    }"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <ion-label>Ende</ion-label>
          <ion-datetime-button datetime="datetimeendatt"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime (ionBlur)="onInfoChanged()" [(ngModel)]="attendance.end_time" presentation="time"
                minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" id="datetimeendatt" [formatOptions]="{
                      time: {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                      }
                    }">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <!-- <input style="display: 'none';" name="file" #chooser (change)="onImageSelect($event)" accept="image/*" class="inputFile" type="file" />
        <ion-item>
          <ion-avatar slot="end" *ngIf="attendance.img">
            <img [src]="attendance.img" />
          </ion-avatar>
        </ion-item> -->
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-accordion-group *ngIf="!isGeneral">
    <ion-accordion value="plan">
      <ion-item slot="header" color="light">
        <ion-label>Ablaufplan</ion-label>
      </ion-item>
      <div slot="content" *ngIf="attendance.plan">
        <ion-item lines="none">
          <ion-label>Start</ion-label>
          <ion-badge slot="end">{{ attendance.plan.time }} Uhr</ion-badge>
        </ion-item>
        <ion-item *ngFor="let field of attendance.plan.fields; let i = index">
          <ion-label>
            <h2>{{ field.name }}</h2>
            <h3 class="danger" *ngIf="field.songId">{{ getMissingGroups(field.songId) }}</h3>
            <h3>{{ calculateTime(field, i) }}</h3>
          </ion-label>
          <ion-badge slot="end">{{ field.time }} min</ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Ende</ion-label>
          <ion-badge slot="end">{{ attendance.plan.end | date:'HH:mm' }} Uhr</ion-badge>
        </ion-item>
        <ion-button (click)="editPlan()" style="margin-left: '16px'" size="small">Bearbeiten</ion-button>
        <ion-button (click)="exportPlan()" style="margin-left: '16px'" size="small">Exportieren</ion-button>
        <ion-button (click)="send()" style="margin-left: '16px'" size="small">Per Telegram senden</ion-button>
      </div>
      <div slot="content" *ngIf="!attendance.plan">
        <ion-button (click)="editPlan()" style="margin-left: '16px'" size="small">Ablaufplan erstellen</ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-list class="marginBottom">
    <ng-container *ngFor="let player of players; trackBy:userById">
      <ion-item-divider sticky="true" *ngIf="player.firstOfInstrument">
        <ion-label>{{ player.groupName }} ({{ player.instrumentLength }})</ion-label>
      </ion-item-divider>
      <ion-item-sliding #slider>
        <ion-item button detail="false" (click)="onAttChange(player)">
          <ion-label>
            <h2>{{ player.firstName }} {{ player.lastName }}</h2>
            <h3 *ngIf="!isHelper && player.notes">{{ player.notes }}</h3>
            <h3 *ngIf="isHelper && player.notes">Notiz hinzugefügt</h3>
          </ion-label>
          <ion-badge [color]="player.status === 0 ? 'medium' :
                              player.status === 1 ? 'success' :
                              player.status === 2 ? 'warning' :
                              player.status === 3 ? 'tertiary' :
                              player.status === 5 ? 'rosa' : 'danger'" slot="end">
            {{
            player.status === 0 ? 'N' :
            player.status === 1 ? '✓' :
            player.status === 2 ? 'E' :
            (player.status === 5 || player.status === 3) ? 'L' : 'A'
            }}
          </ion-badge>
        </ion-item>
        <ion-item-options (ionSwipe)="addNote(player, slider)">
          <ion-item-option expandable color="warning" (click)="addNote(player, slider)">
            <ion-icon name="pencil"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>