<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/settings/handover"></ion-back-button>
    </ion-buttons>
    <ion-title>Personenübergabe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Personenübergabe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Gruppen-Zuordnung</ion-label></ion-list-header>
    <ion-item-group>
      @for (person of handoverData.persons; track trackByPersonId($index, person)) {
        <ion-item button detail="false" (click)="changeGroup(person)">
          <ion-label>{{ person.firstName }} {{ person.lastName }}</ion-label>
          <ion-note slot="end">{{ person.groupName }} -> {{ getInsName(groupMapping[person.id]) }}</ion-note>
        </ion-item>
      }
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="confirmProceed()">
      <ion-icon name="walk-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
