<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/settings/general"></ion-back-button>
    </ion-buttons>
    <ion-title>Typen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reorder = true" *ngIf="!reorder">
        <ion-icon slot="icon-only" name="repeat-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="saveOrder()" *ngIf="reorder">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Typen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-icon class="headerIcon" name="list-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      Pflege deine eigenen Typen für Anwesenheiten. So kannst du individuelle Bezeichnungen, einen Standard-Status,
      Probenvorlagen und Start- bzw. Endzeiten hinterlegen und auch Anwesenheiten nur für bestimmte Gruppen
      konfigurieren.
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-list-header><ion-label>Anwesenheitstypen</ion-label></ion-list-header>
    <ion-item-group>
      @if (!reorder) {
      <ion-item [routerLink]="['/tabs/settings/general/types', type.id]" *ngFor="let type of db.attendanceTypes()">
        <ion-label>{{ type.name }}</ion-label>
      </ion-item>
      } @else {
      <ion-reorder-group disabled="false" (ionItemReorder)="onReorderAttendanceTypes($event)">
        <ion-item *ngFor="let type of db.attendanceTypes()">
          <ion-label>{{ type.name }}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
      }
    </ion-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTypeModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>