<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/settings/meetings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ meeting?.date | date:'dd.MM.yyyy' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="meeting && isEditMode" class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Dirigenten</ion-label>
    <ion-select [(ngModel)]="meeting.attendees" #select multiple="true">
      <ion-select-option multiple="true" [value]="con.id" *ngFor="let con of conductors">{{ con.firstName }} {{ con.lastName }}</ion-select-option>
    </ion-select>
  </ion-item>
  <quill-editor [styles]="{height: '450px'}" [(ngModel)]="meeting.notes"></quill-editor>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="save()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="meeting && !isEditMode" class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Dirigenten</ion-label>
    <ion-select disabled="true" [(ngModel)]="meeting.attendees" #select multiple="true">
      <ion-select-option multiple="true" [value]="con.id" *ngFor="let con of conductors">{{ con.firstName }} {{ con.lastName }}</ion-select-option>
    </ion-select>
  </ion-item>
  <quill-view [styles]="{height: '450px'}" [content]="meeting.notes"></quill-view>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="isEditMode = true">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
