<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Benachrichtigungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Benachrichtigungen</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (notificationConfig) {
  <ion-list>
    <ion-card class="top-card">
      <ion-item>
        <ion-label>Benachrichtigungen aktivieren</ion-label>
        <ion-toggle (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.enabled" slot="end"
          label="Benachrichtigungen aktivieren"></ion-toggle>
      </ion-item>
      @if (!notificationConfig.telegram_chat_id) {
      <ion-item>
        <ion-label position="stacked">Benutzer-Id</ion-label>
        <ion-input type="text" readonly="true" [(ngModel)]="notificationConfig.id"></ion-input>
      </ion-item>
      }
      <ion-item lines="none">
        <ion-label>
          <h2>Telegramverknüpfung</h2>
          @if (notificationConfig.telegram_chat_id) {
          <ion-note color="success">Konto erfolgreich verknüpft</ion-note>
          }
        </ion-label>
        @if (!notificationConfig.telegram_chat_id) {
        <ion-button (click)="connectTelegram()">Verbinden</ion-button>
        }
        @if (notificationConfig.telegram_chat_id) {
        <ion-button color="danger" (click)="disconnectTelegram()">Trennen</ion-button>
        }
      </ion-item>
    </ion-card>
    @if (notificationConfig.enabled) {
    <ion-card-subtitle>Benachrichtigungen</ion-card-subtitle>
    <ion-card>
      <ion-item>
        <ion-toggle [(ngModel)]="notificationConfig.updates" (ionChange)="updateNotificationConfig()"
          label="App-Updates"
          helperText="Erhalte Benachrichtigungen über App-Updates sobald verfügbar">App-Updates</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle helperText="Erhalte täglich um 8:00 Uhr eine Benachrichtigung, falls jemand heute Geburtstag hat"
          (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.birthdays"
          label="Geburtstage">Geburtstage</ion-toggle>
      </ion-item>
      <ion-item>
          <ion-toggle (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.reminders"
          label="Terminerinnerungen">Terminerinnerungen</ion-toggle>
      </ion-item>
      <ion-item>
          <ion-toggle helperText="Erhalte Erinnerungen für fällige To-Dos in deiner Checkliste. Nur möglich, wenn du Verantwortlicher einer Gruppe bist."
          (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.checklist"
          label="Checklisten-Erinnerungen">Checklisten-Erinnerungen</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle helperText="Nur möglich, wenn du Verantwortlicher einer Gruppe bist."
          (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.signins"
          label="Anmeldungen">Anmeldungen</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle helperText="Nur möglich, wenn du Verantwortlicher einer Gruppe bist."
          (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.signouts"
          label="Abmeldungen">Abmeldungen</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle helperText="Nur möglich, wenn du Verantwortlicher einer Gruppe bist."
          (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.criticals" label="Abmeldungen">Neue
          Problemfälle</ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-toggle helperText="Nur möglich, wenn du Verantwortlicher einer Gruppe bist."
          (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.registrations"
          label="Abmeldungen">Neu-Registrierungen</ion-toggle>
      </ion-item>
    </ion-card>
    @if (db.tenants().length) {
    <ion-card-subtitle>Instanz-Einstellungen</ion-card-subtitle>
    <ion-card>
      @for (tenant of db.tenants(); track tenant.id; let idx = $index) {
      <ion-item [lines]="(idx + 1) === db.tenants().length ? 'none' : ''">
        <ion-label>{{ tenant.longName }}</ion-label>
        <ion-toggle (ionChange)="toggleTenant(tenant.id)"
          [checked]="notificationConfig.enabled_tenants?.includes(tenant.id)" slot="end"></ion-toggle>
      </ion-item>
      }
    </ion-card>
    }
    }
  </ion-list>
  }
</ion-content>