<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Benachrichtigungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Benachrichtigungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="notificationConfig">
    <ion-item>
      <ion-label>Benachrichtigungen aktivieren</ion-label>
      <ion-toggle (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.enabled" slot="end"
        label="Benachrichtigungen aktivieren"></ion-toggle>
    </ion-item>
    @if (!notificationConfig.telegram_chat_id) {
      <ion-item>
        <ion-label position="stacked">Benutzer-Id</ion-label>
        <ion-input type="text" readonly="true" [(ngModel)]="notificationConfig.id"></ion-input>
      </ion-item>
    }
    <ion-item>
      <ion-label>Telegramverknüpfung</ion-label>
      <ion-button *ngIf="!notificationConfig.telegram_chat_id" (click)="connectTelegram()">Verbinden</ion-button>
      <ion-button color="danger" *ngIf="notificationConfig.telegram_chat_id"
        (click)="disconnectTelegram()">Trennen</ion-button>
    </ion-item>

    @if (notificationConfig.enabled) {
    <ion-list-header>
      Einstellungen
    </ion-list-header>
      <ion-item>
        <ion-label>Geburtstage</ion-label>
        <ion-toggle (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.birthdays" slot="end"
          label="Geburtstage"></ion-toggle>
      </ion-item>
            <ion-item>
        <ion-label>Anmeldungen</ion-label>
        <ion-toggle (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.signins" slot="end"
          label="Anmeldungen"></ion-toggle>
      </ion-item>
            <ion-item>
        <ion-label>Abmeldungen</ion-label>
        <ion-toggle (ionChange)="updateNotificationConfig()" [(ngModel)]="notificationConfig.signouts" slot="end"
          label="Abmeldungen"></ion-toggle>
      </ion-item>
    }
  </ion-list>
</ion-content>