<ion-header>
  <ion-toolbar color="light">
    <ion-title>Neue Instanz anlegen</ion-title>
    @if (canDismiss) {
      <ion-buttons slot="end">
        <ion-button (click)="close()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-icon class="headerIcon" name="list-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      Erstelle eine neue Instanz für dein Orchester, deinen Chor oder eine andere Gruppe. Falls du dich einer bestehenden Instanz anschließen möchtest, bitte deinen Verantwortlichen darum, dich einzuladen.
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item-group>
      <ion-item>
        <ion-label position="stacked">Typ</ion-label>
        <ion-select (ionChange)="onTypeChange()" [(ngModel)]="tenant.type">
          <ion-select-option value="general">Allgemein</ion-select-option>
          <ion-select-option value="choir">Chor</ion-select-option>
          <ion-select-option value="orchestra">Orchester</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Instanz-Name</ion-label>
        <ion-input [placeholder]="namePlaceholder" [(ngModel)]="tenant.longName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kürzel der Instanz</ion-label>
        <ion-input [placeholder]="shortNamePlaceholder" [(ngModel)]="tenant.shortName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Hauptgruppen-Name</ion-label>
        <ion-input
          helperText="Die Hauptgruppe unterscheidet sich zu allen anderen Gruppen. Sie kann nicht mehr gelöscht werden und alle Personen darin, haben automatisch die Rolle 'Verantwortliche'"
        [placeholder]="mainGroupPlaceholder" [(ngModel)]="mainGroupName"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item button detail="false" (click)="createInstance()">
        <ion-label color="primary">Instanz anlegen</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>